:plain
  $('body').append("#{escape_javascript(render :partial => 'layouts/flash', :locals => {:flash => flash})}")
  Notifier.notify();
  $('#commentsWrapper').html("#{escape_javascript(render :partial => 'games/comments', :locals => {:comments => @comments, :game => @game})}");