=render :partial => 'layouts/flash', :locals => {:flash => flash}
:plain
  $('#commentsWrapper').html("#{escape_javascript(render :partial => 'games/comments', :locals => {:comments => @comments, :game => @game})}");