var comment = "<%= @comment.comment %>";
var date    = "<br><%= @comment.created_at %>";
var userEmail = "";
var userId = 1;
if(comment) {
  var clone = $("#tempComment").clone().removeAttr("id");
  clone.find(".span1").html('<a href="/users/"' + userId +'">Author</a>');
  clone.find(".span6").html(comment + date);
  clone.prependTo("#commentsWrapper").fadeIn(1000);

  $("#formComment").val("");
}