%div{ :class => "btn-group pull-right"}

  = link_to( user_path(current_user), :class => "btn", :style => "padding:0;") do
    .avatar{:style => "float:right; width:28px !important; height: 28px!important;"}
      = image_tag current_user.display_image, {:height => 28}
    
  %button{ :class => "btn dropdown-toggle", "data-toggle" => "dropdown"}
    %span{ :class => "caret"}

  %ul{:id => "user-dropdown", :class => "dropdown-menu"}

    %li{:class => ""}      
      =link_to "profile", user_path(current_user)

    %li{:class => ""}      
      =link_to "imprint", imprint_path

    %li{:class => ""}
      =link_to "logout", destroy_user_session_path, :method => :delete