%ul{:id => 'user_games', :class => "collection_container"}
  
  .bar
    =image_tag "slider_left.png", :class => "slider_left"
    =image_tag "slider_right.png", :class => "slider_right"
    = will_paginate games, :param_name => :games_page, :container => false,  :page_links => false, :show_always => true, :previous_label => '<img src="/assets/slider_left.png" alt="Prev page" class="slider_left" />', :next_label => '<img src="/assets/slider_right.png" alt="Next page" class="slider_right" />'
    
    .description
      Games
    .counter
      =@user.games.size
  .clear
    
  = link_to 'new game', build_path, :class => "add addgame"
  .clear
  
  .games
    - games.each do |game|
      %li{:id => game.id, :class => "span3 game"}                                                                                            
        = link_to image_tag("game.png"), play_path(game)
        - if game.author == current_user
          %ul{:class => 'meta'}
            =link_to image_tag("icon_delete.png"), game_path(game), :method => :delete, :remote => true, :confirm => "Permanently delete this game?"
        .overlay
          =link_to image_tag("overlay_game_play.png"), play_path(game), :class => "overlay_game_play"
          %p
            = link_to game.title, play_path(game)
            %br
            %span
              19 Plays
        .info                                                                                                              
          =link_to(game.title, play_path(game))
          -if false                                                                                 
            %i{:class => "icon-comment"}                                                                                          
            =game.game_comments.size                                                                                              
            %i{:class => "icon-eye-open"}                                                                                         
            =game.played                                                                                                          
            %i{:class => "icon-thumbs-up"}                                                                                        
            =game.likes                                                                                                           
            %i{:class => "icon-thumbs-down"}                                                                                      
            =game.dislikes  
