#profilewrap
  %img{:src => user.display_image, :id => "profileimage"}
  
  %div{:id => "profile_name_wrapper"}

    %span{:id => "display_name"}

      =user.display_name

    - if current_user == user
          
      =form_for user, :remote => true, :html => {:id => "display_name_form", :class => "form-inline"} do |f|
        =f.text_field :display_name, :class => "span2"
        =f.submit "Save", :class => "btn"

    %a{:class => "edit"}
      Edit
    
  %p
    member since:
    %br
    %span
      =user.created_at.to_date