.centered_content
  #profile
    #info
      %img{:src => @user.display_image, :id => "profileimage"}
      .info
        Profil: 
        =@user.first_name
        =@user.last_name
        %br
        =@user.email
  
    #collection
      .container
        %h2="Games"
        -@user.games.each do |game|
          .game
            =link_to image_tag("game.png"), play_path(game)
            .info
              =link_to(game.title, play_path(game))
            =#link_to("[x]", game_path(game), :method => :delete, :confirm => "Permanently delete this game?")
      .container
        %h2="Graphics"
        -@user.graphics.each do |graphic|
          %img{:src => graphic.image}
          =link_to("[x]", graphic_path(graphic), :method => :delete, :confirm => "Permanently delete this graphic?")
        
  .clear