.centered_content
  #profile
    #info
      %img{:src => @user.display_image, :id => "profileimage"}
      .info
        %b='PROFIL:' 
        %span
          =@user.first_name 
          =@user.last_name
        %br
        =@user.email
  
    #collection
      .container
        .left
          =image_tag("switch_left.png")
        .right
          =link_to image_tag("create.png"), '#'
          =#link_to image_tag("edit.png"), '#'
          =image_tag("switch_right.png")
        %h2="Games"
        .games
          -@user.games.each do |game|
            .game
              =link_to image_tag("game.png"), play_path(game)
              .info
                =link_to(game.title, play_path(game))
                .edit
                  =link_to image_tag("edit.png"), '#'
              =#link_to("[x]", game_path(game), :method => :delete, :confirm => "Permanently delete this game?")
      .container
        %h2="Graphics"
        -@user.graphics.each do |graphic|
          %img{:src => graphic.image}
          =link_to("[x]", graphic_path(graphic), :method => :delete, :confirm => "Permanently delete this graphic?")
        
        = link_to('Logout', destroy_user_session_path, :method => :delete)
  .clear