%div{ :class => "row"}
  %div{ :class => "span2"}
    %h2
      =@user.first_name
    %img{:src => @user.display_image, :id => "profileimage"}
    .info
      %span
        =@user.first_name 
        =@user.last_name

  %div{ :class => "span8"}
    %div{:id => 'user_games'}
      = render :partial => 'games', :locals => {:user => @user}
    %div{:id => 'user_graphics'}
      = render :partial => 'graphics', :locals => {:user => @user}
    