%div{ :class => "row"}
  %div{ :class => "span3"}
    =image_tag "banner_profile.png"
    %img{:src => @user.display_image, :id => "profileimage"}
    %h2
      =@user.first_name
    .info
      %span
        =@user.first_name 
        =@user.last_name

  %div{ :class => "span8"}
    %div{:id => 'user_games'}
      = render :partial => 'games', :locals => {:games => @games, :user => @user}
    %div{:id => 'user_graphics'}
      = render :partial => 'graphics', :locals => {:graphics => @graphics, :user => @user}
    
