%div{ :class => "row", :id => "profile"}
  %div{ :class => "span3"}
    .banner
      =image_tag "banner_profile.png"
      Profile
    %img{:src => @user.display_image, :id => "profileimage"}
    .name
      =@user.first_name
    =image_tag "edit_icon.png", :class => "edit"
    .clear
    
    .metaprofile
      %p
        member since:
        %br
        %span
          =@user.created_at.to_date
      %p
        profil visits:
        %br
        %span
          LOREM IPSUM
      %p
        last login:
        %br
        %span
          =@user.last_sign_in_at.to_date

  %div{ :class => "span8"}        
    = render :partial => 'games', :locals => {:games => @games, :user => @user}
    = render :partial => 'graphics', :locals => {:graphics => @graphics, :user => @user}
    
