%div{:class => "well layer", :id => "shareLayer"}
  %a{:class=>"close closeLayer"}
    &times;
  %h4 Share this game on:
  .fshare
    = facebook_button :layout => "button_count"
  .twshare
    = twitter_button :via => "playtin", :text => "this game is awesome!", :hashtags => "minigame"
  .gplusshare
    = googleplus_button :href => play_url(game)
