%div{:class => "well layer", :id => "shareLayer"}
  
  %a{:class=>"close closeLayer"}
    &times;
  
  %h4 share this game on:
  
  .row
    .span1.share_button
      = facebook_button :layout => "button_count", :width => 300
    .span1.share_button
      = twitter_button :via => "playtin", :text => "this game is awesome!", :hashtags => "minigame"
    .span1.share_button
      = googleplus_button :href => play_url(game), :size => 'medium'
    .span1.share_button
      = reddit_button :type => 1, :title => "this mini game is awesome!", :target => "gaming"
