%div{:id => "assets_library", :class => "overlay"}
  =link_to(image_tag("mario.png"), '#', :class => "asset", :data => {:id => 0, :filepath => "mario.png"} )
  =link_to(image_tag("luigi.png"), '#', :class => "asset", :data => {:id => 1, :filepath => "luigi.png"} )
  =link_to(image_tag("plant.png"), '#', :class => "asset", :data => {:id => 2, :filepath => "plant.png"} )