.editor_content
    %div{:class => "meta_content"}
        %label
            name
        %input{:type => "text", :placeholder => "name"}
        %br

        %label
            instructions (140 chars max)
        %input{:type => "text", :placeholder => "instructions"}
        %br

        %input{:type => "button", :value => "background", :id => "background_button"}
        %br

        %label
            length
        %input{:type => "range", :min => 0, :max => 100}