-# THIS VIEW IS FOR TESTING USE ONLY
=#%canvas{:id => 'canvas', :width => 640, :height => 390}
=#%input{:id => 'save_button', :type => 'button', :value => 'send to server'}
=# graphics_editor_main();

#content

:javascript
  $(document).ready( function() { editor_main(); } );

