%div{ :class => "row"}

  .span8
    = render :partial => 'pages/user_box/hero_unit'

  .span4
    = render :partial => 'pages/user_box/login_form'

= render :partial => 'games/list_games', :locals => {:games => @games}