#pages
  .home
    =render :partial => "home"
  
  .editor
    #editor
      .centered_content
        #content

  .profile
    #profile

  .gallery
    #gallery
  
  .about
    about

:javascript
  $(document).ready( player_main() );
  $(document).ready( function() { editor_main(); } );
