%div{ :class => "row"}

  .span8
    = render :partial => 'pages/user_box/hero_unit'

  .span4{:style => "width:260px;margin-left:60px"}
    = render :partial => 'pages/user_box/login_form'

.hr

= render :partial => 'games/list_games', :locals => {:games => @games}