#pages
  .home
    =render :partial => "home"
  
  .editor
    #editor
      #content

  .profile
    .centered_content
      #profile

  .gallery
    #gallery
  
  .about
    about

:javascript
  $(document).ready( function() { editor_main(); player_main(); application_main(); } );
