%div{ :class => "row"}

  -if user_signed_in?
    = render :partial => 'pages/user_box/signed_in'
  - else
    = render :partial => 'pages/user_box/signed_out'

.hr

= render :partial => 'games/list_games', :locals => {:games => @games}