%div{ :class => "row", :style => ""} 

  %h2{:class=>"page-header"}
    Our vision
  %div{:class => "hero-unit", :style => "background:#FFF"}
    We have a vision: we want that everyone can build games and share it within the browser. We want to support creativity. Thats why we build playtin. Bla.


  %h2{:class=>"page-header"}
    Who we are
  
  %ul{:class => "thumbnails"}
    %li{:class=>"thumbnail"}
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Carina
        %small 
          Designer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Andre
        %small 
          Developer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Ebsi
        %small 
          Developer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Zeus
        %small 
          Developer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Rufus   
        %small 
          Developer
    %li{:class=>"thumbnail"} 
      <img src="http://placehold.it/128x128" alt="">
      %h5 
        Manuel
        %small 
          Developer
      