-if user_signed_in?

  %div{ :class => "hero-unit heroExt"}
    #messages-public
      = render :partial => 'shared/stream', :locals => {:messages => @messages}

- else

  %div{ :class => "welcome"}
    
    %h2
      Welcome to Playtin!
      
    .pull-right
      = link_to "Start building now", build_path, :class => "btn btn-large pull-right"
      %br
      = link_to "Create a new Account", new_user_registration_path, :class=>"btn btn-large pull-right"
      
    %p
      Ever wanted to build your own game and share 
      %br
      it with your friends? Here you can! Paint your 
      %br
      own graphics, create your game and release it!
      %br
      All you need is your browser and imagination!*
      
    %small
      * no programming skills required.
