%div{ :class => "hero-unit heroExt"}

  %h2
    Play and Build Microgames*
    %p
      Ever wanted to build your own games and share it with your friends? Here you can! Paint you own graphics, build your game and release it!
      All you need is your browser and imagination!
    
    %p{:class => "pull-right"}
      = link_to "Start building now", build_path, :class => "btn btn-primary btn-large"
      
    %small
      * no programming skills required.

