-if user_signed_in?

  #messages-public
    = render :partial => 'shared/stream', :locals => {:messages => @messages}

- else

  .welcome
    
    %h2
      Welcome to Playtin!
      
    %p
      Ever wanted to build your own game and share it with your friends?
      Here you can! Paint your own graphics, create your game and release it!
      All you need is your browser and imagination!*
      
    %small{:class => "pull-right"}
      * no programming skills required.
      
    %div
    
      = link_to button_line("visit", "tour"), build_path, :class => "link-line"
    
      = link_to button_line("sign", "up"), new_user_registration_path, :class => "link-line"
