%div{:class => "row"}

  %div{:class => "span8", :style => "margin-bottom:2em"}  

    %div{:class => "alert alert-info"}
      Note: You have to be logged in to use the game editor

    This is the place where you can bring your paintings to life and build you own microgames!
    Just login with your facebook account or sign up to create your first game!

  %div{:class => "span8"}
    %div{:style => "height:300px;background:#FFF;position:relative;width:600px"}
      %div{:style => "background:#222;color:#FFF;position:absolute;bottom:0;left:0;margin:0;opacity:0.8;width:100%;"}      
        %div{:style => "padding:4px;font-size:0.8em;"}
          1. Define the objects of your game and place them on the canvas

  %div{:class => "span4"}
    This is how it works:
    %ol
      %li Place objects
      %li Assign behavior
      %li Set trigger and actions
      %li Preview your game

%div{:class => "row", :style => "margin-top:2em"}
  %div{:class => "span12"}
    %h3 Example games:
    See what others have created with the game editor