.row

  %div{:class => "span12", :style => "margin-bottom:2em"}

    %h2
      Editor

    %p
      This is the place where you can bring your paintings to life and build you own microgames!     

.row

  %div{:class => "span3 guide"}

    This is how it works:

    %ol{:id => "guideSteps"}
      %li Place objects
      %li Assign behavior
      %li Set trigger and actions
      %li Preview and publish your game
  
  %div{:class => "span7"}

    %div{:id => "guide-slide-container"}

      %div{:class => "slide-wrapper"}

        %div{:class => "slide"}
          =image_tag "slide1.png"
          %div{:class => "foot-info"}
            After you have painted your game objects, you can place them on the canvas

        %div{:class => "slide"}
          =image_tag "slide2.png"
          %div{:class => "foot-info"}
            With the action editor, you can assign behaviors to you game objects

        %div{:class => "slide"}
          =image_tag "slide3.png"
          %div{:class => "foot-info"}
            Set triggers and actions on your objects

        %div{:class => "slide"}
          =image_tag "slide4.png"
          %div{:class => "foot-info"}
            Before you save, play your game and check it

%P{ :style => "margin-top:1em;"}
  Just 
  =link_to "login with your facebook account", user_omniauth_authorize_path(:facebook)
  or 
  = link_to 'sign up', new_user_session_path
  to create your first game!