.row

  %div{:class => "span12", :style => "margin-bottom:2em"}

    = head_line("editor", "tour")

    %p
      This is the place where you can bring your 
      %br
      paintings to life and build you own microgames!    

.row

  %div{:class => "span4 guide"}

    %h3
      This is how you create ...

    %ol{:id => "guideSteps"}
      %li place objects
      %li assign behavior
      %li set trigger and actions
      %li preview and publish your game

    %div{:class => "signup-info well"}
      Just 
      =link_to "login with your facebook account", user_omniauth_authorize_path(:facebook)
      or 
      = link_to 'sign up', new_user_session_path
      to create your first game!
  
  %div{:class => "span7"}

    %div{:id => "guide-slide-container"}

      %div{:class => "slide-wrapper"}

        %div{:class => "slide"}
          =image_tag "guides/slide1.png"
          %div{:class => "foot-info"}
            After you have painted your game objects, you can place them on the canvas

        %div{:class => "slide"}
          =image_tag "guides/slide2.png"
          %div{:class => "foot-info"}
            With the action editor, you can assign behaviors to you game objects

        %div{:class => "slide"}
          =image_tag "guides/slide3.png"
          %div{:class => "foot-info"}
            Set triggers and actions on your objects

        %div{:class => "slide"}
          =image_tag "guides/slide4.png"
          %div{:class => "foot-info"}
            Before you save, play your game and check it
