.row

  .span3{:id => "list-games-header"}
    = head_line( "games", "gallery" )

  .span9

    .row{:id => "sort-bar"}

      .game-select

        .btn-group

          %button{ :class => "btn dropdown-toggle", "data-toggle" => "dropdown"}
            sort by #{ params[:type] || "date" }
            %span{ :class => "caret"}

          %ul{:id => "game-order-dropdown", :class => "dropdown-menu", :style => "min-width:120px;float:left;"}
            %li{:class => ""}
              =link_to "date", gallery_path

            %li{:class => ""}
              =link_to "rating", gallery_path({:type => "rating"})

            %li{:class => ""}      
              =link_to "most played", gallery_path({:type => "played"}) 

            %li{:class => ""}
              =link_to "difficulty", gallery_path({:type => "difficulty"})

      %div

        %div{:class => 'btn-group order', "data-toggle" => 'buttons-radio', :style => 'float:left;'}
          %button{:class => 'btn', :value => "asc"}
            ascending          
          
          %button{:class => 'btn', :value => "desc"}
            descending

      .gallery_paginate_buttons
        = will_paginate @games, :param_name => :page, :container => false, :page_links => false, :show_always => true, :previous_label => '&#9666; previous', :next_label => 'next &#9656;'

.row{:style => "margin-top:1em;"}

  .span12
  
    %ul{:id => 'gamesList', :class => "thumbnails"}

      - games.each do |game|             

        = render :partial => 'games/single_game', :locals => {:game => game}