
.row

  .span3
    = head_line( "games", "gallery" )

  .span9

    .row{:id => "sort-bar"}

      .span2{ :class => "game-select" }        

        .btn-group

          %button{ :class => "btn"}
            sort by #{ params[:type] || "date" }

          %button{ :class => "btn dropdown-toggle", "data-toggle" => "dropdown"}
            %span{ :class => "caret"}

          %ul{:id => "game-order-dropdown", :class => "dropdown-menu", :style => "min-width:124px;float:left;"}
            %li{:class => ""}
              =link_to "date", gallery_path

            %li{:class => ""}
              =link_to "rating", gallery_path({:type => "rating"})

            %li{:class => ""}      
              =link_to "most played", gallery_path({:type => "played"}) 

            %li{:class => ""}
              =link_to "difficulty", gallery_path({:type => "difficulty"})

      .span4{:style => "margin:0;"}

        %div{:class => 'btn-group order', "data-toggle" => 'buttons-radio', :style => 'float:left;'}
          %button{:class => 'btn', :value => "asc"}
            ascending          
          
          %button{:class => 'btn', :value => "desc"}
            descending

      .span2{:class => "gallery_paginate_buttons"}
        = will_paginate @games, :param_name => :page, :container => false,  :page_links => false, :show_always => true

.row{:style => "margin-top:1em;"}

  .span12
  
    %ul{:id => 'gamesList', :class => "thumbnails"}

      - games.each do |game|             

        = render :partial => 'games/single_game', :locals => {:game => game}