%ul{:class=>"thumbnails"}

  %li{:class => "span3", :id => "game-li-template"}
    %div{:class => "thumbnail"}
      %br
      %i{:class => "icon-eye-open"}
      0
      %i{:class => "icon-thumbs-up"}
      0
      %i{:class => "icon-thumbs-down"}
      0

  - games.each do |game|
    %li{:class => "span3"}
      %div{:class => "thumbnail"}
        =link_to image_tag("http://placehold.it/210x130"), play_path(game)
        %h4
          =game.title
        =link_to "by #{game.author.display_name}", user_path(game.author)
        %br
        %i{:class => "icon-eye-open"}
        =game.played
        %i{:class => "icon-thumbs-up"}
        =game.likes
        %i{:class => "icon-thumbs-down"}
        =game.dislikes