.row
  .span2
    %div{ :class => "btn-group game-select"}

      %button{ :class => "btn"}
        sort by #{ params[:type] || "date" }
      %button{ :class => "btn dropdown-toggle", "data-toggle" => "dropdown"}
        %span{ :class => "caret"}

      %ul{:class => "dropdown-menu"}
        %li{:class => ""}
          =link_to "Date", gallery_path

        %li{:class => ""}
          =link_to "Rating", gallery_path({:type => "rating"})

        %li{:class => ""}      
          =link_to "Most played", gallery_path({:type => "played"}) 

        %li{:class => ""}
          =link_to "Difficulty", gallery_path({:type => "difficulty"})
  .span3
    %div{:class => 'btn-group order', "data-toggle" => 'buttons-radio', :style => 'float:left;'}
      %button{:class => 'btn', :value => "asc"}
        ascending
      %button{:class => 'btn', :value => "desc"}
        descending
  .pull-right
    = will_paginate @games, :param_name => :page, :container => false,  :page_links => false, :show_always => true

.row{:style => "margin-top:1em;"}

  .span12
  
    %ul{:id => 'gamesList', :class => "thumbnails"}

      - games.each do |game|             

        = render :partial => 'games/single_game', :locals => {:game => game}