.row
  .span12
    %h2{ :class => "page-header"}
      Games

.row
  .span10
    %div{ :class => "btn-group"}

      %button{ :class => "btn"}
        Sort by date
      %button{ :class => "btn dropdown-toggle", "data-toggle" => "dropdown"}
        %span{ :class => "caret"}

      %ul{:class => "dropdown-menu"}

        %li{:class => ""}
          =link_to "Rating", gallery_path({:type => "rating"})

        %li{:class => ""}      
          =link_to "Most played", gallery_path({:type => "played"}) 

        %li{:class => ""}
          =link_to "Difficulty", gallery_path({:type => "difficulty"})

  .span2
    Next

.row{:style => "margin-top:1em;"}
  
  %ul{:id => 'gamesList', :class => "thumbnails"}
    - games.each do |game|                                                                                                      
      %li{:id => game.id, :class => "span3"}
        
        .thumnail                                                  
          = link_to image_tag(game.preview_image), play_path(game)
        
        %div{ :class => "gameAuthor" }
        
        %h5
          = game.title
        
        %span{:class=>"label label-important"}
          = game.difficulty_in_words
        
        %i{:class=>"icon-play"}
        = game.played



