<div id="player">

  <canvas id="playerCanvas" width="640" height="390"></canvas>

  <div class="playerUI">
    
    <div class="loadScreen">&nbsp;&nbsp;&nbsp;loading...</div>
    
    <div class="endScreen">
      <div class="endText winScreen">You win!</div>
      <div class="endText loseScreen">You lose!</div>
    </div>
    
    <div class="titleScreen">
      <div class="playButton"></div>
      
      <div class="titleBar">
        <div class="content">
          <strong class="title"><%= game.title %></strong>
          <span>by <%= game.author.display_name %></span>
        </div>
      </div>
      
      <div class="instructionBar">
        <div class="content">
          <h2>Instructions</h2>
          <div class="instruction"><%= game.instruction %></div>
        </div>
      </div>
    </div>
    
    <div class="errorScreen">
      <h2>An error occurred while loading the game.</h2>
    </div>
  
  </div>

  <div class="playerBar">
    <canvas class="playerTimeline"></canvas>
    <div class="playerTimeWrapper">
      <div class="playerTime">00:00</div>
    </div>
    <%= link_to raw('<div class="playerLogo"></div>'), play_path(game) %>
  </div>

  <div id="mouseInstruction">
    <%= image_tag "mouse_click.png" %>
    Play with click / touch
  </div>
</div>


<script>
  $(document).ready( function() {
    player_main( <%= raw game.data %>, <%= game.id %> );
  });
</script>