<div id="player">
  <canvas id="playerCanvas" width="640" height="390"></canvas>

  <div class="playerUI">

    <div class="loadScreen">&nbsp;&nbsp;&nbsp;loading...</div>

    <div class="titleScreen">
      <div class="playButton"></div>
      <div class="titleBar">
        <div class="titleBg"></div>
        <div class="titleText">
          <strong><%= game.title %></strong>
          <span>by <%= game.author.display_name %></span>
          <h2>Instructions:</h2>
          <div class="instruction">click it to win or not you know what. that's it bro; hallo that's it no i don't want i to be like this.</div>
          <small>game starts in</small>
          <div id="counter">5</div>
          <small>(click to skip)</small>
          <div class="noticeMouse">
            <img alt="mouse move" src="/assets/mouse_move.png" />
            <img alt="mouse click" src="/assets/mouse_click.png" />
            <br /><small>use your mouse to play</small>
          </div>
        </div>
      </div>
    </div>
    
    <div class="winScreen endScreen">You win!</div>
    <div class="loseScreen endScreen">You lose!</div>
    
    <div class="errorScreen">
      <h2>An error occurred while loading the game.</h2>
    </div>
  
  </div>

  <div class="playerBar">
    <canvas class="playerTimeline"></canvas>
    <div class="playerTimeWrapper">
      <div class="playerTime">00:00</div>
    </div>
    <div class="playerLogo"></div>
  </div>
</div>

<script>
  $(document).ready( function() {
    player_main( <%= raw game.data %>, <%= game.id %> );
  });
</script>