%div{:id => "player"}

  %canvas{:id => "playerCanvas", :width => 640, :height => 390}

  .playerBar

    .playerTimeline
      .playerIndicator

    .playerTimeWrapper
      .playerTime
        00:25

    .playerLogo

:javascript
  $(document).ready( function() {
    player_main( #{game.data}, #{game.id} );
  });