%div{:id => "playerWrapper"}
  %canvas{:id => "playerCanvas", :width => 640, :height => 390}
  
  %div{:class => "playerStartScreen"}
    %div{:class => "playButton"}
    %h2
      =game.title
    %p
    =game.instruction

  %div{:class => "playerWinScreen"}
    %div{:class => "replayButton"}
    %div{:class => "message"}
      Congratulations 
      -if current_user
        =current_user.first_name
      , you have won the game!
    %div{:class => "gameData"}
      %h2
        =game.title
      %p
        =game.instruction

  %div{:class => "playerLoseScreen"}
    %div{:class => "replayButton"}
    %div{:class => "message"}
      You have lost the game!
    %div{:class => "gameData"}
      %h2
        =game.title
      %p
        =game.instruction

:javascript
  $(document).ready( function() {
    player_main( #{game.data}, #{game.id} );
  });