- disable = !!cookies["voted_game_#{@game.id}"]
= button_to "", {:action => "like", :id => game.id}, :method => :put, :remote => true, :disabled => disable, :class => "likeButton"
= button_to "", {:action => "dislike", :id => game.id}, :method => :put, :remote => true, :disabled => disable, :class => "dislikeButton"
.clear
.rating
  .likes
    =@game.likes 
    likes
  .progress.progress-success
    %div{:class => "bar", :style => "width:#{game.rating * 100}%;"}
  .dislikes
    =@game.dislikes
    dislikes
  .clear