%div{ :class => "row"}
  %h2
    Games
  
  %div{ :class => "row"}
    %div{ :class => "span7"}

      %div{:class=>"btn-group"}
        =link_to "Latest", gallery_path, { :class => 'btn'}
        =link_to "Rating", gallery_path({:type => "rating"}), { :class => 'btn'}
        =link_to "Most played", gallery_path({:type => "played"}), { :class => 'btn'}

    %div{ :class =>"span5"}
      = form_tag search_games_path, :method => 'get', :class=>"form-horizontal" do
        = text_field_tag "query", "", :class => "searchbox"
        = submit_tag "search", :class => "btn"
      
  %ul{:class=>"thumbnails"}
    - @games.each do |game|
      %li{:class => "span2"}
        %div{:class => "thumbnail"}
          =link_to image_tag("game.png"), play_path(game)
          %h5
            =game.title
          =link_to "by #{game.author.display_name}", user_path(game.author)
          %br
          %i{:class => "icon-eye-open"}
          =game.played
          %i{:class => "icon-thumbs-up"}
          =game.likes
          %i{:class => "icon-thumbs-down"}
          =game.dislikes
