%div{ :class => "row"}
  %h2
    Games
  
  %div{ :class => "row"}
    %div{ :class => "span7"}

      %div{:class=>"btn-group"}
        %button{:class=>"btn"}
          Latest
        %button{:class=>"btn"}
          Best rated
        %button{:class=>"btn"}
          Most played

    %div{ :class =>"span5"}
      %form{:class=>"form-horizontal"}
        %input{:type=>"text", :placeholder => "search", :class => "searchbox"}
        %button{:class=>"btn"}
          <i class="icon-search"></i> Search
      
  %ul{:class=>"thumbnails"}
    - @games.each do |game|
      %li{:class => "span2"}
        %div{:class => "thumbnail"}
          =link_to image_tag("game.png"), play_path(game)
          %h5
            =game.title
          =link_to "by #{game.author.display_name}", user_path(game.author)
          