%div{ :class => "row"}
  %h2
    Games
  
  %div{ :class => "row"}
    %div{ :class => "span8"}

      %div{:class=>"btn-group"}
        %button{:class=>"btn"}
          Latest
        %button{:class=>"btn"}
          Best rated
        %button{:class=>"btn"}
          Most played

    %div{ :class => "span4"}
      %input{:type=>"text", :placeholder => "search", :class => "searchbox"}
      =image_tag("searchbox.png", :class => "magnifier")
      
  %ul{:class=>"thumbnails"}
    - @games.each do |game|
      %li{:class => "span2"}
        %div{:class => "thumbnail"}
          =link_to image_tag("game.png"), play_path(game)
          %h5
            ="by #{game.author.display_name}"   
          