%img{:src => "https://s3.amazonaws.com/mbgfx/graphics/6/head.png", :id => 'head2s3'}
%div{ :id => "gallery"}
  .banner
    =image_tag "banner_gallery.png"
    Games
      
  = render :partial => 'list_games', :locals => {:games => @games}