%div{ :class => "row"}
  %h2
    Games
  
  %div{ :class => "row"}
    %div{ :class => "span7"}

      %div{:class=>"btn-group"}
        =link_to "Latest", gallery_path, { :class => 'btn'}
        =link_to "Rating", gallery_path({:type => "rating"}), { :class => 'btn'}
        =link_to "Most played", gallery_path({:type => "played"}), { :class => 'btn'}

    %div{ :class =>"span5"}
      = form_tag search_games_path, :method => 'get', :class=>"form-horizontal" do
        = text_field_tag "query", "", :class => "searchbox"
        = submit_tag "search", :class => "btn"
      
    = render :partial => 'list_games', :locals => {:games => @games}