=# head_line( "game", "stage" )

#editor

:javascript
  $(document).ready( function() {

    var data = #{@game_data} || null;
    var name = "#{current_user ? current_user.display_name : ""}";
    editor_main( data, name );

  } );

.loadOverlay
  %div{:class => "overlayMessage row"}
    %div{:class => "span1"}
      =image_tag "loader_circle.gif"
    %div{:class => "span6"}
      %div{ :class => "span6 message"}