=# head_line( "game", "stage" )


#editor

:javascript
  $(document).ready( function() {

    var data = #{@game_data} || null,
        fork_id = #{@fork_id} || null,
        name = "#{current_user ? current_user.display_name : ""}";

    editor_main( data, name, fork_id );

  } );

.loadOverlay
  %div{:class => "overlayMessage row"}
    %div{:class => "span1"}
      =image_tag "loader_circle.gif"
    %div{:class => "span6"}
      %div{ :class => "span6 message"}