%div{:class=>"row"}

  %div{:class=>"span2"}
    &nbsp;

  %div{:class=>"span6"}
    %h2=@game.title
    ="by #{@game.author.display_name}"
    %canvas{:id => "playerCanvas", :width => 640, :height => 390}
  
    %textarea{:cols =>"150", :rows =>"1", :class=>"span6"}
      <iframe width="640" height="390" src="#{root_url}play/#{@game.id}/embed" frameborder="0"></iframe>


:javascript
  $(document).ready( function() {
    player_main( #{@game.data} ); 
  });
  