@import "mixins";

/* EDITOR */
/* ---------------------------------- */

.clear {
  clear : both;
}

.right {
  float : right;
}

.left {
  float : left;
}

#editor {
  padding:0px 0 0 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

#editor .editor_content {
   top:100px;
   z-index:3;
}

#editor .objectsLeft .movehandle, #editor .objectsRight .movehandle {
  width: 4px;
  height: 18px;
  margin: 6px 7px 0px;
  border-left: 1px solid #BBB;
  border-right: 1px solid #BBB;
  cursor: move;
}

#editor ul.graphics {
  list-style:none;
  margin: 0;
}

#editor ul.graphics li {
  float:left;
  margin: 0 16px 16px 0;
  border: 1px solid #DDD;
  position: relative;
}

#editor ul.graphics li:hover {
  border: 1px solid #888;
}

#editor ul.graphics li.selected {
  border: 1px solid black;
}

#editor .overlayWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#editor .overlay {
  position: relative;
  margin: 0 auto;
  width: 754px;
  z-index: 10;
  background-color: #EEE;
  box-shadow: 2px 2px 10px #888;
  overflow: auto;
  border-radius: 4px;
}

#editor .overlay .overlayhead {
  margin: 0;
  padding: 8px 16px 4px;
  background-color: #DDD;
}

#editor .overlay .closeButton {
  position: absolute;
  top: 0px;
  right: 0px;
  border: 0;
  font-size: 18pt;
  padding: 4px 11px 8px;
  font-weight: bold;
  cursor: pointer;
}

#editor .overlay .closeButton:hover {
  background-color: #CCC;
}

#editor .overlay .objectsLeft {
  background-color: white;
  width: 96px;
  padding: 15px 0 15px 15px;
}

#editor .overlay .objectsLeft .noObject {
  margin-bottom: 15px;
}

#editor .overlay .objectsRight {
  padding: 15px;
  width: 590px;
}

#editor .overlay .content {
  padding: 15px 0 0 15px;
}

#editor .overlay #done {
  position : absolute;
  bottom : 15px;
  right : 15px;
}

#editor #behaviours, #editor #behaviours ul {
  list-style:none;
  margin: 0;
  padding: 0;
}

#editor #behaviours .behaviour {
  margin-bottom: 15px;
  border: 1px solid #DDD;
  border-radius: 5px;
}

#editor #behaviours .head {
  min-height: 28px;
  background-color: #DDD;
}

#editor #behaviours .head .headtitle {
  padding: 6px 9px 5px;
  font-weight: bold;
}

#editor #behaviours .body {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}

#editor #behaviours .list {
  margin-left: 65px;
}

#editor #behaviours .triggers, #editor #behaviours .actions {
  border-radius: 5px;
  min-height: 28px;
  margin-bottom: 5px;
}

#editor #behaviours .triggers {
  background: #C6E6F8;
}

#editor #behaviours .actions {
  background: #F8C9C9;
}

#editor #behaviours .triggers .element, #editor #behaviours .actions .element {
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid;
  min-height: 28px;
}

#editor #behaviours .triggers .element {
  background: #EFF9FF;
  border-color: #5E9EE4;
}

#editor #behaviours .actions .element {
  background: #FFF2F2;
  border-color: #E76F6F;
}

#editor #behaviours .text {
  padding: 6px;
  padding-left: 12px;
}

#editor #behaviours .title {
  width: 56px;
  margin: 7px 0px;
  float: left;
  text-align: right;
  font-weight: bold;
}

#editor #fog {
  position : fixed;
  top : 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: white;
  opacity: 0.5;
}

#editor .frames {
  list-style: none;
  margin: 0;
}

#editor .frame_graphic {
  display:block; 
  margin:0px; 
  padding: 0px; 
  border:none;
}

#editor .frame_graphic_element {
  
  position:absolute;
  top:35%;
}

#editor .frame {
  float: left;
}

#editor .frame:hover {
  background-color: #CCC;
  opacity: 0.2;
}

#editor .gameObject {
  overflow: hidden;
  width:96px; 
  height:116px;
}

#editor .gameObjectThumb {
  position: relative;
  width: 96px;
  height: 96px;
  border: 1px solid #CCC;
  background: url("/assets/editor/pattern_light.png");
  position: relative;
}

#editor .graphic {
  background: url("/assets/editor/pattern_light.png");
  overflow:hidden;
  position:relative;
}

#editor .graphic .name {
  position: absolute;
  width:100%;
  bottom: 0;
  text-align: center;
  background-color: #DDD;
}

#editor .graphicPreview {
  border-top: 1px solid #CCC;
  padding: 13px 0;
  overflow: auto;
}

#editor .graphicPreview .previewImage {
  margin: 0 auto;
  border: 1px solid #CCC;
  background: url("/assets/editor/pattern_light.png");
}

#editor .libraryControls {
  margin-bottom: 13px;
  overflow: auto;
}

#editor .libraryControls > div {
  margin-right: 16px;
}

#editor .libraryPagination {
  width: 200px;
  margin: 0 auto 13px;
}

#editor .libraryPage {
  margin: 4px 20px 0;
  font-size: 11pt;
  text-align: center;
}

#editor .noObject {
  padding-bottom: 15px;
}

#editor .stageCanvas {
  background: #E4E4E4 !important;
  box-shadow: inset 0px 0px 12px 0px #AAA;
}

#editor .overlay label {
  font-size:1.2em;
  font-weight:bold;
}

#editor .overlay .titlePanel {
  width: 240px;
  
  h4 {
    margin-bottom: 5px;
    margin-left: 3px;
  }
}

#editor .overlay #snapshots {
  margin: 0;
  padding: 0;
}

#editor #snapshots li { cursor:pointer; }
#editor #snapshots li.active {  background:#BBB; }

#editor .overlay #snapshots .thumbnail {
  margin: 6px 0 0 6px;
}


#editor .overlay .actionContent .optionview {
  margin: 10px 0 15px 15px;
}

#editor .overlay .actionstring {
  margin: 7px 16px 3px;
  font-size: 12pt;
  width: 355px;
  text-align: right;
}

#editor .overlay .questionview {
  clear: both;
  margin: 10px 0 5px;
  
  .question {
    padding: 5px 15px;
    font-size: 12pt;
    border-bottom: 1px solid #CCC;
  }
}

#editor .overlay .buttonview .btn {
  margin-right: 5px;
}

#editor .overlay .speedview {
  overflow: hidden;
}

#editor .overlay .speedview .slider {
  margin: 5px 7px;
  width: 300px;
}

#editor .overlay .speedview .speed {
  font-size: 12pt;
  margin: 5px 15px;
}

#editor .overlay .artview .btn {
  margin-top: 10px;
}

#editor .overlay .timeview {
  overflow: hidden;
}

#editor .overlay .timeview .time, #editor .overlay .timeview .slider {
  float : left;
  margin : 5px 20px 0 0;
}

#editor .overlay .timeview .slider {
  width: 300px;
}

#editor .overlay .timeview .time {
  width: 45px;
  font-size : 12pt;
}

#editor .overlay .frameview {
  width: 565px;
  margin-left: 15px;
  overflow : auto;
}

#editor .overlay .counterview {
  width: 50px;
  text-align: right;
}

#editor .overlay .boundingMessage {
  margin: 6px 16px;
  font-size: 12pt;
}

#editor .overlay .placingName {
  font-size: 12pt;
}

#editor .overlay .placingName .ember-text-field {
  margin: 0 16px 0 10px;
  width: 120px;
}

#editor .smallInfo {
  font-size:0.7em;
  display: block;
}

#game-tags {
  width:207px;
}

#check-list {
  width:190px;
  margin-left:1em;
  padding:0;
}

#check-list li {
  margin-bottom:4px;
}


#editor {
  
  .helpButton {
    background: white;
    padding: 5px 15px 0px 10px;
    border-radius: 5px;
    float: right;
    box-shadow: 0 1px 1px #BBB;
  }

  .help {
    background: white;
    border-radius: 5px;
    padding: 5px 10px 5px;
    box-shadow: 0 1px 1px #BBB;
    color: #7C8186;
    
    .label {
      background-color: $blue2;
    }
  }
  
  .withSpace {
    margin: 10px 15px 0;
  }
  
  .bottomSpace {
    margin-bottom: 10px;
  }
  
}

#editor .topbar {
  
  overflow: auto;
  
  #objects, #background, #duration, #trash {
    padding: 7px 15px 5px;
    border: 1px solid #C5C5C5;
    border-left: none;
    background-color: whiteSmoke;
    @include gradient( #FFFFFF, #E6E6E6 );
  }
  
  #objects, #background {
    background-color: $blue2;
    @include gradient(lighten($blue2, 5%), $blue2);
    color: white;
    font-size: 17px;
    border-color: darken($blue2, 5%);
    cursor: pointer;
    &:hover {
      @include gradient($blue2, darken($blue2, 5%));
    }
  }
  
  #trash {
    cursor: pointer;
    &:hover {
      @include gradient( #F5F5F5, #D9D9D9 );
    }
  }
  
  #objects {
    border-top-left-radius: 4px;
    border-left: darken($blue2, 5%);
  }
  
  #trash {
    border-top-right-radius: 4px;
  }
  
  #duration {
    
    overflow: auto;
    
    #slider {
      width: 150px;
      margin: 8px 15px 0;
      
      background-image:none;
      background-color: #424755;
      border-radius: 0;
      height: 3px;
      
      a {
        border-radius: 4px;
        width: 11px;
        height: 11px;
        top: -5px;
        margin-left: -5px;
        border:1px solid $gray;
      }
    }
  }
}

#editor .bar {
  
  margin-bottom: 15px;
  height: 30px;
  
  background-color: whiteSmoke;
  @include gradient( #FFFFFF, #E6E6E6 );
  
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  
  .play {
    border-top-left-radius: 0;
  }
  
  .stop {
    
    
  }
  
  .timelineWrapper {
    pointer-events: none;
    display: inline-block;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #BBB;
    
    .timeline {
      width: 650px;
      height: 14px;
      vertical-align: middle;
      margin: 6px 14px 7px;
      background-color: #F9F9F9;
      border-bottom: 1px solid #F3F3F3;
    }
  }
  
  .view {
    border-top-right-radius: 0;
  }
}
