/* EDITOR */
/* ---------------------------------- */

.clear {
  clear : both;
}

.right {
  float : right;
}

.left {
  float : left;
}

#editor .editor_content {
   top:100px;
   /*width:1034px;*/
   margin: 0 auto;
   z-index:3;
}

#editor ul.graphics {
  list-style:none;
  margin: 0;
}

#editor ul.graphics li {
  float:left;
  margin: 0 16px 16px 0;
  border: 2px solid #DDD;
}

#editor ul.graphics li:hover {
  border: 2px solid #888;
}

#editor ul.graphics li.selected {
  border: 2px solid black;
}

#editor .overlayWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#editor .overlay {
  position: relative;
  margin: 0 auto;
  top: 100px;
  width: 754px;
  z-index: 10;
  background-color: #EEE;
  box-shadow: 2px 2px 10px #888;
  padding: 0;
  overflow: hidden;
}

#editor .overlay .head {
  padding: 8px 16px 4px;
  background-color: #DDD;
}

#editor .overlay .closeButton {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #444;
  color: white;
  border: 0;
  font-size: 18pt;
  padding: 4px 8px 8px;
  font-weight: bold;
}

#editor .overlay .closeButton:hover {
  background-color: #333;
}

#editor .overlay .objectsLeft {
  background-color: white;
  width: 168px;
  padding: 0 0 15px 15px;
}

#editor .overlay .objectsLeft .noObject {
  margin-top: 15px;
}

#editor .overlay .objectsRight {
  padding: 15px;
}

#editor .overlay #done {
  position : absolute;
  bottom : 15px;
  right : 15px;
}

#editor #behaviours, #editor #behaviours ul {
  list-style:none;
  margin: 0;
  padding: 0;
}

#editor #behaviours li {
  background-color: white;
  margin-bottom: 15px;
  padding: 5px;
}

#editor #behaviours li li {
  margin: 3px 0;
  padding: 0;
  background: #EEE;
  width: 200px;
  overflow: hidden;
}

#editor #behaviours li li .text {
  padding: 6px;
}

#editor #behaviours li .title {
  padding: 6px;
  width: 45px;
  margin: 3px;
  text-align: right;
}

#editor #fog {
  position : fixed;
  top : 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: white;
  opacity: 0.5;
}

#editor .frames {
  list-style: none;
  margin: 0;
}

#editor .frame {
  float: left;
}

#editor .frame:hover {
  background-color: #CCC;
  opacity: 0.2;
}

#editor .gameObject {
  overflow: hidden;
  width:64px; 
  height:84px;
}

#editor .graphic {
  background-repeat:no-repeat;
  background-color: #FFF;
  width:64px; 
  height:64px;
}

#editor .objectsRight .graphic {
  border: 2px solid #CCC;
}

#editor .gameObject .name,  {
  padding-top:2px;
  font-size:0.8em;
  text-align:center;
  background-color: #DDD;
}

#editor .libraryGraphic {
  background-repeat:no-repeat;
  background-color: #FFF;
}

#editor .libraryGraphic .name {
  position: absolute;
  width:100%;
  height: 18px;
  padding-top: 4px;
  bottom: 0;
  text-align: center;
  background-color: #DDD;
}

#editor .libraryControls > div {
  margin-right: 20px;
}

#editor .libraryPage {
  margin-top: 5px;
  font-size: 11pt;
}

#editor .noObject {
  padding-bottom: 15px;
}


#editor .player {
  margin:auto;
  width: 836px;
  height: 514px;
  overflow:hidden;
}

/* Publish */
#publishView label {
  font-size:1.2em;
  font-weight:bold;
}

/* Snapshot */
#snapshots {  margin-top:3em;}
#snapshots li {  cursor:pointer;}
#snapshots li.active {  background:#BBB;}

#editor .overlay .actionstring {
  margin: 7px 16px 3px;
  font-size: 12pt;
}

#editor .overlay .questionview {
  clear: both;
  margin: 15px 0;
  padding: 5px 0;
  border-bottom: 1px solid gray;
  font-size: 12pt;
  
}

#editor .overlay .optionview {
  margin-bottom: 15px;
}

#editor .overlay .buttonview .btn {
  margin-right: 5px;
}

#editor .overlay .speedview {
  overflow: hidden;
}

#editor .overlay .speedview .slider {
  margin: 5px 7px;
  width: 300px;
}

#editor .overlay .speedview .speed {
  font-size: 12pt;
  margin: 5px 15px;
}

#editor .overlay .artview .btn {
  margin-top: 10px;
}

#editor .overlay .timeview {
  overflow: hidden;
}

#editor .overlay .timeview .time, #editor .overlay .timeview .slider {
  float : left;
  margin : 5px 20px 0 0;
}

#editor .overlay .timeview .slider {
  width: 300px;
}

#editor .overlay .timeview .time {
  width: 30px;
  font-size : 12pt;
}

#editor .overlay .bounding .placement {
  margin: 5px auto;
}

#editor .overlay .boundingMessage {
  margin: 6px 16px;
  font-size: 12pt;
}

#editor .stageControls {
  margin: 0 auto;
  overflow: hidden;
  padding: 6px 32px;
}

#editor .stageControls #trash {
  margin: 10px 0 0 100px;
}

#editor .duration {
  font-size: 11pt;
  margin-top: 15px;
}

#editor .duration #slider {
  width: 200px;
}

#editor .duration > div {
  margin-left: 20px;
  width: 80px;
  text-align: right;
}

