/* EDITOR */
/* ---------------------------------- */

.clear {
  clear : both;
}

#editor .editor_content {
   top:100px;
   /*width:1034px;*/
   margin: 0 auto;
   z-index:3;
}

#editor button {
  padding:5px;
  font-size:11px;
}

#editor ul.gameobjects {
  list-style:none;
}

#editor ul.gameobjects li {
  float:left;
  margin: 0 10px 10px 0;
}

#editor ul.gameobjects li img {
  height:50px;
  width:50px;
}

#editor ul.graphics {
  list-style:none;
  margin: 0;
}

#editor ul.graphics li {
  float:left;
  overflow:hidden;
  background:#ccc;
  margin: 0 10px 10px 0;
  opacity:0.8;
}

#editor ul.graphics li.selected {
  border:solid 2px black;
} 

#editor ul.graphics li img {
  height:50px;
  width:50px;
}

#editor ul.graphics li:hover {
  opacity:1.0;
}

#editor ul#behaviours, #editor ul#behaviours ul {
  list-style:none;
}

#editor ul#behaviours li.top {
  border: solid gray 1px;
  margin-bottom: 10px;
}

#editor ul#behaviours li.top div.left {
  float: left;
  margin: 5px;
}

#editor ul#behaviours li.top div.right {
  float: right;
  margin: 5px;
}

#editor ul#behaviours li.top div.title {
/*  background: #FFF;*/
  text-align: right;
  width: 70px;
}

#editor ul#behaviours li.top div.clear {
  float: none;
}

#editor ul#behaviours li.top li {
  margin-bottom: 5px;
}

#editor #stageContent, #editor #behaviourContent {
  position: relative;
}

#editor #stageControls > * {
  margin: 0 20px 10px 0;
  float: left;
}

#editor #stageControls #slider {
  width: 300px;
}

#placementGraphic {
  float : left;
  border : 2px solid #000;
}

#editor #overlay {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 880px;
  z-index: 10;
  background-color: #EEE;
  border: 2px solid #000;
  padding: 20px;
}

#editor #overlay #objects {
  float : left;
  width : 300px;
  border-right : 2px solid black;
}

#editor #overlay #behaviours {
  float : left;
  margin-left: 20px;
}

#editor #fog {
  position : fixed;
  top : 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: white;
  opacity: 0.5;
}

#editor .frames {
  list-style: none;
}

#editor .frame {
  float: left;
}

#editor .frame:hover {
  background-color: #CCC;
  opacity: 0.2;
}

#editor .libraryGraphic {
  background-repeat:no-repeat;
  width:64px; height:64px;
}