#paint-wrapper {
  width:900px;
  overflow:hidden;
}

#paint-wrapper #tool-bar {
  background:#CCC;
  overflow: hidden;
}

#paint-wrapper #tool-bar .ember-view { float:left; }

#paint-wrapper #tool-bar button { 
  background:#333;
  color:#FFF;
  border:1px solid #222;
}

#paint-wrapper #tool-bar button:hover {
  background-color:#111;
}

#paint-wrapper #tool-bar-second {
  margin-top:0.5em;
}

#paint-wrapper #area-wrapper {
  margin-top:1.5em;
  overflow:hidden;
  width:100%;
}

#paint-wrapper #area-wrapper #zoom-canvas-area {
  position:relative;
  width:400px;
  max-height:300px;
  max-width:400px;
  overflow:auto;
  float:left;
}

#paint-wrapper #area-wrapper #sprites-area {
  float:right;
  width:400px;
  margin-left:100px;
}

#paint-size-wrapper { margin:2em 0 2em 0;}

#palette {
  background:#222;
  display: none;
  position:absolute;
  left:0px;
  top:0px;
  z-index:888;
  width:100px;
  list-style-type:none;
  overflow:hidden;
  padding:10px;
}

/* Canvas Elements */
#zoomCanvas {
 background:#FFF;
 background:url(paint/bg_transparent.png);
 border:1px solid #000000; 
 cursor:crosshair;
 image-rendering: optimizeSpeed;             // Older versions of FF
 image-rendering: -moz-crisp-edges;          // FF 6.0+
 image-rendering: -webkit-optimize-contrast; // Webkit
                                                //  (Safari now, Chrome soon)
 image-rendering: optimize-contrast;         // Possible future browsers.
 -ms-interpolation-mode: nearest-neighbor;   // IE
}
.canvas {
    width:64px;
    height:64px;
    background:url(paint/bg_transparent.png);
    margin-right:0.5em;
}
.canvas:hover, .canvas:active, .canvas:focus {

}
.canvas-over  { position:absolute; background: rgba(255, 255, 255, 0.9); }
.canvas-float { position:relative; float:left; }
.canvas-selected { border:1px solid #4096EE;}

#canvas-template, #canvas-merged { display:none; }
#canvas-temp { display:none; z-index:999; position:absolute; background:none;pointer-events:none;border:1px solid #000}

/* Tools */
.addSpriteButton {
  width:64px; height:64px; float:left; margin-right:10px; background:#FFF;border:2px solid #666;
}

#stopButton { display:none; }

#sizeSlider {
    width:100px;
    margin:0.5em 0 0.5em 0;
}

#sizeWrapper {
    overflow:hidden;
    float:left;
    margin-right:1em;
}

#colorChooser {
  position:relative;
  cursor:pointer;
  width:20px; height:20px;
  border:1px solid #111;  
}

.colorBlock {
    width:15px; height:15px; border:1px solid #000000;
    text-align:center; cursor:pointer;
    float:left; margin-right:0.2em;
    border-radius:7px;
}
.activeColor { border:0px solid #000000; }

.active-sprite { border:1px solid #000000; }

.type-selected {
  border:3px dotted #666;
}

.paint-type {
  cursor:pointer;
}