#paint-wrapper {
  width:900px;
  position:relative;
  top:30px;
  overflow:hidden;
  padding:20px;
  -moz-user-select:none;
  -webkit-user-select:none;
  user-select:none;
  -ms-user-select:none;
}

#paint-wrapper #tool-bar {
  background:#CCC;
  overflow: hidden;
  height:30px;
}

#paint-size-wrapper #startPainting {
  border:none;
  border-radius:0px;
  position:relative;
  margin:20px 0 20px 0;
}

#paint-wrapper #tool-bar .ember-view { float:left; }

#paint-wrapper #tool-bar button {
  min-width:30px;
  height:30px;
  background:top left no-repeat;
  border:none;
  margin:0 1px 0 0;
  float:left;
}

#paint-wrapper #tool-bar button.activeTool, #paint-wrapper #tool-bar-second button.activeTool {
  border-bottom:4px solid #55bd55;
}

#paint-wrapper #tool-bar button.pencil {
  background:url('/assets/edit_button.png');
}

#paint-wrapper #tool-bar button.eraser {
  background:url('/assets/eraser_icon.png');
}

#paint-wrapper #tool-bar button.rectangle {
  background:url('/assets/rectangle_icon.png');
}

#paint-wrapper #tool-bar button.circle {
  background:url('/assets/icon_circle.png');
}

#paint-wrapper #tool-bar button.rectanglefill {
  background:url('/assets/rectangle_fill_icon.png');
}

#paint-wrapper #tool-bar button.circlefill {
  background:url('/assets/circle_icon_fill.png');
}

#paint-wrapper #tool-bar button.line {
  background:url('/assets/icon_line.png');
}

#paint-wrapper #tool-bar button.loadfile {
  background:url('/assets/load_image_icon.png');
}

#paint-wrapper #tool-bar button.fill {
  background:url('/assets/fill_icon.png');
}

#paint-wrapper #tool-bar button.clear {
  background:url('/assets/clear_icon.png');
}

#paint-wrapper #tool-bar button.undo {
  background:url('/assets/undo_icon.png');
}

#paint-wrapper #tool-bar button.clearall {
  background:url('/assets/icon_delete.png');
}

#paint-wrapper #tool-bar button#playButton {
  background:url('/assets/play_icon.png');
}

#paint-wrapper #tool-bar button#stopButton {
  background:url('/assets/stop_icon.png');
}

.zoomButtons button.zoom {
  min-width:30px;
  height:30px;
  background:top left no-repeat;
  border:none;
  float:left;
  margin:0 1px 0 0;
}

.zoomButtons button.zoomin {
  background:url('/assets/zoom_in.png');
}

.zoomButtons button.zoomout {
  background:url('/assets/zoom_out.png');
}

/*#paint-wrapper #tool-bar button { 
  background:#333;
  color:#FFF;
  border:1px solid #222;
}

#paint-wrapper #tool-bar button:hover {
  background-color:#111;
} */

#paint-wrapper .ui-slider{
  width:150px; 
  height:30px; 
  background:url('/assets/slider_bg.png') no-repeat;
  border-style:none;
}

#paint-wrapper .ui-slider .ui-slider-handle{
  width:10px;
  height:18px;
  margin:4px 0 0 0;
  border-style:none;
  background:url('/assets/slider_bg_knob.png') center no-repeat;
}

#paint-wrapper #player {
  float:right;
  width:150px;
}

#paint-wrapper #sizeWrapper {
  margin:0 0 0 80px;
  padding:6px 0 0 0;
  height:26px;
}

#paint-wrapper #sizeWrapper #sizeSlider {
  margin:0px 0 0 0;
}

#paint-wrapper #sizeWrapper #sizeSlider, #paint-wrapper #sizeWrapper #slidervalue {
  float:left;
}

#paint-wrapper #sizeWrapper span {
  float:left;
  margin: 0 6px 0 0;
}

#paint-wrapper #sizeWrapper #sizeSlider {
  margin: 0 10px 0 0;
}

#paint-wrapper #tool-bar-second {
  margin-top:0.5em;
}

#paint-wrapper #area-wrapper {
  margin-top:34px;
  overflow:hidden;
  width:100%;
}

#paint-wrapper #area-wrapper #zoom-canvas-area {
  position:relative;
  width:401px;
  height:300px;
  max-width:401px;
  overflow:auto;
  float:left;
}

#paint-wrapper #area-wrapper #sprites-area {
  float:left;
  width:425px;
  height:288px;
  position:relative;
  left:52px;
}

#paint-wrapper #area-wrapper #sprites-area-scroll {      
  height:270px;
  overflow:auto;
}

#paint-wrapper #area-wrapper #sprites-area-scroll canvas {      
  border:solid 1px #fff;
}

#paint-wrapper #area-wrapper #sprites-area-scroll canvas.active-sprite {      
  border:solid 1px #000;
}

.bgToggle {
  min-width:30px;
  height:30px;
  border:1px solid #666;
}

.zoomButtons {
  float:left;
  position:relative;
}

.spriteButtons {
  float:left;
  position:relative;
  left:360px;
}

#paint-size-wrapper { padding:40px 20px 40px 20px;}

#palette {
  background:#222;
  display: none;
  position:absolute;
  left:0px;
  top:0px;
  z-index:888;
  width:100px;
  list-style-type:none;
  overflow:hidden;
  padding:10px;
}

/* Canvas Elements */
#zoomCanvas, #canvas-temp {
 /*background:#FFF;
 background:url(bg_transparent.png);*/
 border:1px solid #858585; 
 cursor:crosshair;
 image-rendering: optimizeSpeed;             // Older versions of FF
 image-rendering: -moz-crisp-edges;          // FF 6.0+
 image-rendering: -webkit-optimize-contrast; // Webkit
                                                //  (Safari now, Chrome soon)
 image-rendering: optimize-contrast;         // Possible future browsers.
 -ms-interpolation-mode: nearest-neighbor;   // IE
}
.canvas {
    width:64px;
    height:64px;
    background:url(bg_transparent.png);
    margin-right:0.5em;
}
.canvas:hover, .canvas:active, .canvas:focus {

}
.canvas-over  { position:absolute; background: rgba(255, 255, 255, 0.9); }
.canvas-float { position:relative; float:left; }
.canvas-selected { border:1px solid #4096EE;}

#canvas-template, #canvas-merged { display:none; }
#canvas-temp { display:none; z-index:999; position:absolute; background:none;pointer-events:none;border:1px solid #000}

.bgBlack {
  background-image:none;
  background-color:#000000;
}

.bgWhite, #zoomCanvas .bgWhite {
  background-image:none;
  background-color:#FFFFFF;
}

.bgTransparent {
  background:url(bg_transparent.png);  
}

/* Tools 
.addSpriteButton {
  width:64px; height:64px; float:left; margin-right:10px; background:#FFF;border:2px solid #666;
} */

#stopButton { display:none; }

#sizeSlider {
    width:100px;
    margin:0.5em 0 0.5em 0;
}

#sizeWrapper {
    overflow:hidden;
    float:left;
    margin-right:1em;
}

#colorChooser {
  position:relative;
  cursor:pointer;
  width:20px; height:20px;
  border:1px solid #111;  
}


  
#colorWrapper {
  float:left;
}

/*#colorPicker {
  float:left;
  margin-left: 5px;
  position:relative;
  cursor:pointer;
  width:30px; height:30px;
  border:1px solid #BBB;
  
  background-image: linear-gradient(right bottom, rgb(245,10,57) 0%, rgb(55,245,17) 51%, rgb(43,65,255) 100%);
  background-image: -o-linear-gradient(right bottom, rgb(245,10,57) 0%, rgb(55,245,17) 51%, rgb(43,65,255) 100%);
  background-image: -moz-linear-gradient(right bottom, rgb(245,10,57) 0%, rgb(55,245,17) 51%, rgb(43,65,255) 100%);
  background-image: -webkit-linear-gradient(right bottom, rgb(245,10,57) 0%, rgb(55,245,17) 51%, rgb(43,65,255) 100%);
  background-image: -ms-linear-gradient(right bottom, rgb(245,10,57) 0%, rgb(55,245,17) 51%, rgb(43,65,255) 100%);

  background-image: -webkit-gradient(
          linear,
          right bottom,
          left top,
          color-stop(0, rgb(245,10,57)),
          color-stop(0.51, rgb(55,245,17)),
          color-stop(1, rgb(43,65,255))
  );                                    
} */

.colorBlock {
    width:15px; height:15px; border:1px solid #000000;
    text-align:center; cursor:pointer;
    float:left; margin-right:0.2em;
    border-radius:7px;
}
.activeColor { border:0px solid #000000; }

.active-sprite { border:1px solid #000000; }

.paint-type {
  border:3px dotted #fff;
  cursor:pointer;
}

.type-selected {
  border:3px dotted #666;
}

.span6 input {
  width:30px;
}

/* Game guide */
#slide-container, #guide-slide-container {
  width:600px;
  overflow:hidden;
  height:auto;
}

.slide-wrapper {
  overflow:hidden;
  height:auto;
  left:0; top:0;
  position:relative;
}

.slide {
  overflow:hidden;
  position:relative;
  float:left;
  min-height:300px;
  background:#FFF;
}

.slide .foot-info {
  width:100%;
  position:absolute; bottom:0; left:0;
  padding:4px; color:#FFF; background:#222; opacity:0.8;
}

#guideSteps li {
  cursor:pointer;
  text-decoration:underline;
  color:#111;
}

#guideSteps li.activeElement {
  font-weight:bold;
}


.paintOverlay {
  z-index:9001;
  display:none;
  width:100%; height:100%;
  position:absolute; left:0; top:0;
  background:#111; 
}

.paintOverlay .paintOverlayMessage {
  z-index:9002;
  top:30%; left:40%;
  padding:2em; position:absolute;
  background:#000; color:#FFF;
  border-radius:7px;
  width:600px;  
}

.paintOverlay .paintOverlayMessage .message {
  padding-top:6px; font-size:18px;
}

.submitPainting {
  height:80px;
  width:900px;
  padding:20px 0 20px 0;
}

.submitPainting button {
  border-radius:0px;
  border:none;
}

#color {
  height:30px;
  width:220px;
  overflow:hidden;
  position:absolute;
  z-index:9999;
  float:left;
}

#color #container {
  position:relative;
  top:-30px;
}

#color .ember-view {
  position:absolute;
  top:125px;
}

.name {
  float:left;
}