$bg: #F6F6F6;
$font: #424755;
$gray: #464646;
$lightgray: #dedede;
$white: #FFFFFF;
$yellow: #fdc702;

$red: #CD5654;
$darkred: #AD3634;

$orange: #E49548;
$blue: #006A82;
$blue2: #009EC2;
$green: #6CBB73;


$button-green: #74BA7B;

@mixin gradient($from, $to) {
  background-color: $from;
  background-image: -moz-linear-gradient($from, $to);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
}

@mixin outline($color) {
  text-shadow:
    -1px -1px 0 $color,
    1px -1px 0 $color,
    -1px 1px 0 $color,
    1px 1px 0 $color,
    -1px 0 0 $color,
    1px 0 0 $color,
    0 1px 0 $color,
    0 -1px 0 $color;
}

@mixin glow($color) {
  text-shadow: 
    1px 0 3px $color,
    -1px 0 3px $color,
    0 1px 3px $color,
    0 -1px 3px $color;
}