$bg: #fff;
$font: #000;

html, body {
    margin: 0px;
    padding: 0px;
    border: none;
    text-decoration:none;
}

body {
    /*background:url('../img/dark.png'); */
    height:100%;
    width:100%;
}

* {
    margin: 0px;
    padding: 0px;
}

ul#nav {
    position:absolute;
    width:100%;
    height:100%;
    list-style:none;
    z-index: 2;
}

ul#nav li {
    overflow:hidden;
    padding: 10px;
    width:31px;
    height:31px;
}

ul#nav li img {
    
}

ul#nav li#nav_top {
    position:absolute;
    top:0px;
    background:#439AAB;
}

ul#nav li#nav_left {
    position:absolute;
    left:0px;
    background:#00CABD;
}

ul#nav li#nav_right {
    position:absolute;
    right:0px;
    background:#FF5B00;
}

ul#nav li#nav_bottom {
    position:absolute;
    bottom:0px;
    background:#A1716C;
}

#pages {
    position:relative;
    top:0px;
    left:0px;
    background:#000;
    width:100%;
    height:100%;
    overflow:hidden;
}

#pages div {
    position:absolute;
    width:100%;
    height:100%;
}

#pages .home {
    background: #fff;
}

#pages .profile {
    background: #FF5B00;
}

#pages .editor {
    background: #A1716C;
}

#pages .gallery {
    background:#00CABD;
    
}

#pages .about {
    background: #439AAB;
}

ul.graphics {
    list-style:none;
}

ul.graphics li, {
    float:left;
    padding: 2px;
}

ul.graphics li:hover, ul.graphics li.selected {
    border: 2px solid black;
    padding: 0px;
}

ul.graphics li.disabled {
    opacity: 0.5;
    background-color: #CCC;
}

ul.graphics li.disabled:hover {
    border : none;
    padding: 2px;
}

.graphic {
  background-repeat: no-repeat;
}

#placementGraphic {
  float : left;
  border : 2px solid #000;
}