$bg: #fff;
$font: #000;
$red: #c11924;
$gray: #464646;
$lightgray: #dedede;
$white: #FFFFFF;
$yellow: #fdc702;

body {
    font-family: 'Arimo', sans-serif;
    background:url(bg2.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#header {
  margin:2em 0 2em 0;
}

#menu li {
    border-radius: 7px 7px 7px 7px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}
#menu li img {
    display: inline;
    margin-bottom: 8px;
}
#menu li:hover {
    background: none repeat scroll 0 0 #111111;
}
#menu li a, #menu li a:visited {
    color: #FFFFFF;
    /*padding: 10px 10px 10px 10px;*/
}
#menu li a:hover {
    background: repeat scroll 0 0 #111111;
}

#home {
    background: repeat scroll 0 0 #5E8894;
}
#play {
    background: repeat scroll 0 0 #BD1723;
}
#build {
    background: repeat scroll 0 0 #718B20;
}
#paint {
    background: repeat scroll 0 0 #F3C10A;
}
#logo {
    margin: 0;
    text-align: left;
}
h1 {  margin:0;  padding:0; font-size:2.2em; font-family: 'LaconicRegular', Arial, sans-serif; }

#flash-template {
  display:none;
}

/* Feedback */
#feedback {
  z-index:999;
  position:absolute;
  display: none;
  box-shadow:2px 2px 2px #666;
}

#feedbackSideButton {
  padding:8px;
  border:1px solid #CCC;
  background:#FFF;
  position:absolute;
  left:0; top:20%;
  cursor:pointer;
}
#feedbackSideButton:hover {background:#F6F6F6;}
.errorForm { border:1px solid #B94A48;}

/* game/id/play */

#tempComment {  display: none; }
.comment {
  margin-bottom:2em;
  padding-bottom:5px;
  border-bottom:1px solid #F6F6F6;
}

.layer, #game-li-template {
  display: none;
}

/* General */
/* ---------------------------------- */
@font-face {
    font-family: 'LaconicBold';
    src: url('Laconic_Bold-webfont.eot');
    src: url('Laconic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Laconic_Bold-webfont.woff') format('woff'),
         url('Laconic_Bold-webfont.ttf') format('truetype'),
         url('Laconic_Bold-webfont.svg#LaconicBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LaconicRegular';
    src: url('Laconic_Regular-webfont.eot');
    src: url('Laconic_Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Laconic_Regular-webfont.woff') format('woff'),
         url('Laconic_Regular-webfont.ttf') format('truetype'),
         url('Laconic_Regular-webfont.svg#LaconicBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.banner { /* Profile/Games etc Banner */
  position:absolute;
  top:-15px;
  z-index:1;
  width:91px;
  height:49px;
  font: 18px 'LaconicBold', Arial, sans-serif;
  color:$white;
  padding:15px 0 0 13px;
}

.banner img {
  position:absolute;
  top:0px;
  left:0px;
  width:91px;
  height:49px;
  z-index:-1;
}

.add { /* add Game/Graphic Buttons */
  background:url('add_button_bg.png') top right no-repeat;
  font-family: 'Arimo', sans-serif;
  height:24px;
  display:block;
  margin:30px 0px 16px 30px;
  padding:6px 0 0 14px;
  border-left:1px solid #dedede;
  color: $gray;
  letter-spacing:1px;
  float:left;
}

.add:hover {
  background:url('add_button_bg_hover.png') top right no-repeat;
  text-decoration:none;
  font-weight:bold;
  color: $gray;
  letter-spacing:0px;
}

.addgame {
  width:110px;
}

.addgraphic {
  width:120px;
  float:left;
}

.viewall {
  background:url('view_all_button.png') top right no-repeat;
  width:98px;
}

.viewall:hover {
  background:url('view_all_button_hover.png') top right no-repeat;
}

.collection_container { /* UL with bar containing sliders/info and list items (Games/Graphics) */
  position:relative;
  width:720px;
  height:269px;
  background:#fff;
  list-style:none;
  margin:0px 0px 30px 0px;
}

.collection_container .bar {
  background:#e9e9e9;
  height:30px;
  font-family: 'Arimo', sans-serif;
  font-weight:bold;
  color:$gray;
}

.collection_container .bar .description {
  height:30px;
  width:624px;
  float:left;
  margin:6px 0 0 38px;
}

.collection_container .bar .slider_left {
  position:absolute;
  left:0px;
}

.collection_container .bar .counter {
  float:left;
  margin: 6px 14px 0 0;
}

.collection_container .bar .slider_right {
  position:absolute;
  right:0px;
}

.collection_container .games {
  margin: 0 0 0 10px;
}

.collection_container .games .game { /* Game 'Button' with hover, containing info etc... */
  position:relative;
  width:210px;
  height:135px;
  overflow:hidden;
}

.collection_container .games .game .meta, .collection_container .graphic .meta {
  position:absolute;
  top:0px;
  right:0px;
  height:30px;
  width:30px;
  z-index:5;
  padding:0px;
  overflow:hidden;
}

.collection_container .games .game .meta:hover, .collection_container .graphic .meta:hover {
  height:90px;
  cursor:hand;
}

.collection_container .games .game .meta a {
  display:block;
}

.collection_container .games .game .overlay p {
  height:52px;
}

.collection_container .games .game a, .collection_container .graphic a {
  color:$red;
}

.collection_container .games .game a:hover, .collection_container .graphic a:hover {
  color:$red;
  text-decoration:none;
}

.collection_container .games .game .overlay img, .collection_container .games .game .overlay p, .collection_container .graphic .overlay p {
  position:absolute;
  top:135px;
  left:0px;
  width:198px;
  padding:12px 0 0 12px;
  opacity:0;
  display:block;
  font: 14px 'LaconicBold', Arial, sans-serif;
  color:$red;
}

.collection_container .games .game .overlay p, .collection_container .graphic .overlay p {
  background:url('/assets/overlay_game_text.png') top left no-repeat;
}

.collection_container .games .game .overlay p span, .collection_container .graphic .overlay p span {
  color:$gray;
  font-size:12px;
  font-family:'Arimo', sans-serif;
}

.collection_container .graphic .overlay p {
  width:116px;
}

.collection_container .games .game:hover .overlay p, .collection_container .graphic:hover .overlay p {
  -webkit-transform: translateY(-53px);
  -moz-transform: translateY(-53px);
  -o-transform: translateY(-53px);
  -ms-transform: translateY(-53px);
  transform: translateY(-53px);
  -ms-filter: "progid: DYImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  translateYtransition: all 0.3s ease-in-out;
}

.collection_container .games .game:hover .overlay img {
  -webkit-transform: translateY(-128px);
  -moz-transform: translateY(-128px);
  -o-transform: translateY(-128px);
  -ms-transform: translateY(-128px);
  transform: translateY(-128px);
  -ms-filter: "progid: DYImageTransform.Microsoft.Alpha(Opacity=1)";
  filter: alpha(opacity=1);
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  translateYtransition: all 0.2s ease-in-out;
}

.collection_container .graphic:hover .overlay p {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  transform: translateY(-50px);
}

.sortables {
  position:absolute;
  right:30px;
  top:65px;
  width:489px;
}

.sortables a {
  font: 13px 'Arimo', sans-serif;
  color: $gray;
  margin:3px 3px 0 3px;
}

.sortables a:hover {
  font: 13px 'Arimo';
  font-weight:bold;
  color:$yellow;
}

.sortables .sort {
  position:relative;
  float:left;
  margin:5px 0 0 0;
}

.sortables .search {
  position:absolute;
  right:0px;
}

.sortables .search input[type=text] {
  border:1px solid $lightgray;
  border-right:none;
  border-radius:0px
}

.sortables .search input[type=submit] {
  position:relative;
  border:1px solid $lightgray;
  border-left:1px solid $lightgray;
  border-radius:0px;
  background:url('/assets/searchbox.png');
  width:30px;
  height:30px;
  left:-5px;
}

/* Profile */
/* ---------------------------------- */

#profile {
  position:relative;
}

#profileimage {
  position:relative;
  left:0px;
  height:180px;
  width:180px;
}

#profile .name {
  font: 14px 'LaconicBold', Arial, sans-serif;
  height:21px;
  width:135px;
  float:left;
  background:#fff;
  padding:9px 0 0 15px;
}

#profile .edit {
  width:30px;
  height:30px;
  float:left;
}

#profile .metaprofile {
  height:128px;
  width:180px;
  background:#fff;
  padding:10px 0 0 0;
}

#profile .metaprofile p {
  font-family: 'Arimo', sans-serif;
  font-weight:bold;
  font-size:12px;
  color:$gray;
  margin: 0 0 0 15px;
}

#profile .metaprofile p span {
  font-family: 'Arimo', sans-serif;
  font-weight:normal;
  font-size:12px;
  color:$gray;
}

#profile .sort {
  float:left;
  margin: 30px 0 0 0;
}

#profile #user_graphics #graphics {
  margin:0 0 0 10px;
}

#profile #user_graphics .graphic {
  position:relative;
  width:128px;
  height:128px;
  border: 1px solid #e9e9e9;
  overflow:hidden;
}

#profile #user_graphics .graphic:hover {
  border: 1px solid $gray;
}

/* Gallery */
/* ---------------------------------- */

#gallery {
  position:relative;
  background:$white;
  width:960px;
}

#gallery .banner {
  margin: 0 0 0 40px;
}

#gallery .collection_container {
  position:relative;
  width:945px;
  top:50px;
  margin:0 0 0 15px;
}