$bg: #fff;
$font: #000;
$red: #c11924;
$gray: #464646;
$lightgray: #dedede;
$white: #FFFFFF;
$yellow: #fdc702;

body {
  background:#F6F6F6;
  color:#333;
  font-family: 'Droid Sans', sans-serif;
  margin-bottom:1em;
}

/* Header */
/* ---------------------------------- */

#header {
  margin-top:2em; margin-bottom:1.5em; border-bottom:1px solid #CCC;
}

#flash-template{
  display: none;
}

h1 {
  display:inline;
  font-size:1.8em;
  font-family:'Press Start 2P';
}

h1 a, h1 a:visited {
  color:#222; text-decoration: none;
}

.titleSmall {
  font-size:0.9em;
}

#menu {
  font-size:22px;margin-left:1em;
}

.nav a, .nav a:visited {
  color:#222;
}

.profile_thumb {
  width:15px; height:15px;
}

#fb_login a, #facebook_login a:visited {
  background:#3B5998; color:#FFF;
}

/* Home */

.heroExt {
  background:#333;color:#FFF;padding:1.7em;
}

#createAccountButton {
  width:100%;
}

/* Paint */
.paintOverlay {
  display:none;
}

/* ---------------------------------- */
/* Feedback */
#feedback {
  z-index:999;
  position:absolute;
  display: none;
  box-shadow:2px 2px 2px #666;
}

#feedbackSideButton {
  height:135px;
  width:30px;
  background:url('/assets/feedback.png');
  position:absolute;
  left:0px;
  top:30%;
  cursor:pointer;
}

.errorForm { border:1px solid #B94A48;}

/* game/id/play */
#game-li-template {
  display: none;
}

/* General */
/* ---------------------------------- */

/* Profile */
/* ---------------------------------- */

#profile #user_graphics #graphics {
  margin:0 0 0 30px;
}

#profile #user_graphics .graphic {
  position:relative;
  width:128px;
  height:128px;
  border: 1px solid #e9e9e9;
  overflow:hidden;
}

#profile #user_graphics .graphic:hover {
  border: 1px solid $gray;
}

#profile .settings {
  border-top:1px solid #EEE;
  background:#222;
  margin-top:5px;
}

#profile .settings .wrapper {
  padding:3px;font-size:0.9em
}

#backgroundLayer {
  display:none;
}

.backgroundImage {
  width:320px; height:195px;
  background-size:cover;
}

/* Gallery */
/* ---------------------------------- */

#gamesList .gameAuthor {
  position:absolute; top:99px; right:6px;
  width:30px; height:30px; z-index:300; display: inline;
  background-size: cover;
  background-repeat: no-repeat;
  border:1px solid #222;
}

#gamesList .gameAuthor:hover {
  border:1px solid #F6F6F6; 
}

#gamesList h4, #gamesList .gameDetails {
  margin-top:5px;  
}

.share_button { display: inline;}

canvas {
  -webkit-tap-highlight-color: transparent; /* Fix for iOS' annoying highlight on canvas select */
}

#difficulty span {
  font-size: 14px;
  font-weight: bolder;
}
.easy { color: #5EB95E; }

.moderate { color: #FFBC00; }

.hard { color: #FF0000; }

/* CREATE  - Editor Page when user !logged_in */
#create {
  position:relative;
}

#create .container {
  position:relative;
  width:900px;
  background:$white;
  padding:20px;
  margin:0 0 30px 0;
}

#create .banner {
  margin: 0 0 0 20px;
  width:70px;
}

#create .container .banner {
  margin:0;
  padding-right:20px;
  width:auto;
}

#create .note {
  margin:40px 0 20px 0;
  width:860px;
  background:$lightgray;
  padding:20px;
  border-radius:15px;
}

#create img.slider_left {
  float:left;
  top:135px;
  position:relative;
  left:-20px;
}

#create img.slider_right {
  float:left;
  top:135px;
  position:relative;
  left:60px;
}

/* PLAY site */

#playGame {
  background:#EEE;border:1px solid #CCC;padding:10px;
}

#playGame .gameDetailAuthor {
  font-size: 1.8em;
  border-bottom:1px solid #CCC;
}

#playGame .authorImage {
  height:40px;
}

#playGame #ratingWrapper {
}

#playGame #ratingWrapper form {
  margin:0px;
}  

#playGame .progress-success {
  background-image: linear-gradient(bottom, rgb(135,18,26) 91%, rgb(187,24,35) 74%);
  background-image: -o-linear-gradient(bottom, rgb(135,18,26) 91%, rgb(187,24,35) 74%);
  background-image: -moz-linear-gradient(bottom, rgb(135,18,26) 91%, rgb(187,24,35) 74%);
  background-image: -webkit-linear-gradient(bottom, rgb(135,18,26) 91%, rgb(187,24,35) 74%);
  background-image: -ms-linear-gradient(bottom, rgb(135,18,26) 91%, rgb(187,24,35) 74%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0.91, rgb(135,18,26)),
  	color-stop(0.74, rgb(187,24,35))
  );
  border-radius:0px;
  height:10px;
  top:4px;
  position:relative;
}

#playGame .bar {
  background:#4C804A;
}

#playGame .likeButton {
  padding-left: 18px;  
  background:url("bootstrap/like.png") no-repeat;
}

#playGame .dislikeButton {
  padding-left: 18px;  
  background:url("bootstrap/dislike.png") no-repeat;  
}

#commentsWrapper .comments {
  overflow-y:auto;
  height:140px;
  max-height:140px;
}

#commentsWrapper .comments .comment {
  margin-bottom: 10px;
  border-bottom:1px solid #EEE;  
}

#commentsWrapper .commentForm {
  margin-top:4px;
}

#commentsWrapper .commentData {
  display:block; font-size:0.8em; color:#666
}

#shareLayer, #reportLayer, #embedLayer {
  display: none;
}