#paint-wrapper {
  height: 500px;
  padding: 0px 0px 0;
  margin-bottom: 20px;
}

#paint-wrapper .tool-bar {
  background: #555;
  height: 30px;
  color: #DDD;
}

#paint-wrapper .tool-bar-bottom {}

#paint-wrapper .tool-bar button {
  min-width:30px;
  height:30px;
  border:none;
  margin:0 1px 0 0;
  float:left;
  color: white;
  background-color: #333;
}

#paint-wrapper .tool-bar button.active {
  background-color: #777;
}

#paint-wrapper .tool-bar .group {
  margin-right: 30px;
}

#paint-wrapper .tool-bar button.activeTool {
  border-bottom: 4px solid #55bd55;
}

#paint-wrapper .tool-bar button.pencil {
  background:url('/assets/paint/pencil.png');
}

#paint-wrapper .tool-bar button.select {
  background:url('/assets/paint/select_icon.png');
}

#paint-wrapper .tool-bar button.eraser {
  background:url('/assets/paint/eraser_icon.png');
}

#paint-wrapper .tool-bar button.rectangle {
  background:url('/assets/paint/rectangle_icon.png');
}

#paint-wrapper .tool-bar button.circle {
  background:url('/assets/paint/icon_circle.png');
}

#paint-wrapper .tool-bar button.rectanglefill {
  background:url('/assets/paint/rectangle_fill_icon.png');
}

#paint-wrapper .tool-bar button.circlefill {
  background:url('/assets/paint/circle_icon_fill.png');
}

#paint-wrapper .tool-bar button.lineTool {
  background:url('/assets/paint/icon_line.png');
}

#paint-wrapper .tool-bar button.loadfile {
  background:url('/assets/paint/file.png');
}

#paint-wrapper .tool-bar button.fill {
  background:url('/assets/paint/fill_icon.png');
}

#paint-wrapper .tool-bar button.clearTool {
  background:url('/assets/paint/clear_icon.png');
/*  background:url('/assets/paint/icon_delete.png');*/
}

#paint-wrapper .tool-bar button.undo {
  background:url('/assets/paint/undo_redo.png');
}

#paint-wrapper .tool-bar button.redo {
  background:url('/assets/paint/undo_redo.png');
  background-position: 30px 0px;
}

#paint-wrapper .tool-bar button.flipv {
  background:url('/assets/paint/flip_vertical.png');
}

#paint-wrapper .tool-bar button.fliph {
  background:url('/assets/paint/flip_horizontal.png');
}

#paint-wrapper .tool-bar button.rotl {
  background:url('/assets/paint/rotate.png');
}

#paint-wrapper .tool-bar button.rotr {
  background:url('/assets/paint/rotate.png');
  background-position: 30px 0px;
}

#paint-wrapper .tool-bar button.pipette {
  background:url('/assets/paint/pipette.png');
}

#paint-wrapper .tool-bar button.add {
  background-image: url('/assets/paint/zoom_in.png');
}

#paint-wrapper .tool-bar button.remove {
  background-image: url('/assets/paint/zoom_out.png');
}

#paint-wrapper .tool-bar button.duplicate {
  background-image: url('/assets/paint/duplicate.png');
}

#paint-wrapper .tool-bar button.toggleBgButton {
  background:#FFF;
  height: 26px;
  width: 26px;
  min-width: 26px;
  margin: 2px 0 0 1px;
}

#paint-wrapper #sizeWrapper, #paint-wrapper #zoomWrapper {
  overflow: hidden;
  margin: 0 1px;
  padding: 7px 5px 3px;
}

#paint-wrapper #sizeWrapper #sizeSlider {
  width: 60px;
}

#paint-wrapper #zoomWrapper #zoomSlider {
  width: 40px;
}

#paint-wrapper #sizeWrapper #sizeSlider, #paint-wrapper #sizeWrapper #sizeValue,
#paint-wrapper #zoomWrapper #zoomSlider, #paint-wrapper #zoomWrapper #zoomValue {
  float:left;
  margin-left: 15px;
}

#paint-wrapper #sizeWrapper span, #paint-wrapper #zoomWrapper span {
  float:left;
}

#paint-wrapper #area-wrapper {
  overflow: auto;
  border-left: 1px solid #555;
  border-right: 1px solid #555;
}

#paint-wrapper #area-wrapper #zoom-canvas-area {
  height: 430px;
  overflow: auto;
  background: #EEE;
  box-shadow: inset 0px 0px 12px 0px #AAA;
}

#paint-wrapper #area-wrapper #zoom-canvas-area #paint-area {
  margin: auto;
  position: relative;
  border: 1px solid #000000;
  box-shadow: 0px 0px 12px 0px #AAA;
  cursor: crosshair;
}

#paint-wrapper #area-wrapper #zoom-canvas-area #paint-area canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#paint-wrapper #sprites-area {
  border-right: 1px solid #555;
}

#paint-wrapper #sprites-area-scroll {
  height: 430px;
  padding: 0 10px;
  overflow: auto;
  background: #EEE;
  box-shadow: inset 0px 0px 12px 0px #AAA;
}


#paint-wrapper #sprites-area-scroll .spriteView {
  background: url("/assets/paint/pattern.png");
  margin: 10px auto;
  border: 1px dashed #000;
  display: block;
  box-shadow: 0px 0px 12px 0px #AAA;
}

#paint-wrapper #sprites-area-scroll .selected { 
  border: 1px solid #000;
}

#stopButton { display:none; }

.submit {
  margin-left: 0px;
}

#paint-wrapper #colorpicker #colorfield {
  width: 26px;
  height: 26px;
  position: relative;
  background-color: black;
  margin-top: 2px;
}

#paint-wrapper #colorpicker #colortext {
  width : 64px;
  margin-right: 3px;
  margin-bottom: 0;
}

#paint-wrapper #colorpicker #colorselect {
  border: 1px solid #333;
  cursor: crosshair;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -ms-user-select: none;
}

#lastColorList {
  margin: 1px 1px 0 1px;
  width: 44px;
  list-style-type:none;
}

#lastColorList li.lastColorItem {
  height: 12px;
  width: 12px;
  background-color: black;
  float: left;
  margin: 1px;
}

#paint-size-wrapper .type-selected {
/*  border: 2px solid black !important;*/
  background: #CD5654 !important;
}

#paint-size-wrapper .sizeInput {
  font-size:0.8em; padding:1px 4px 1px 4px;
  height:16px;
  width:22px;
}

#paint-size-wrapper .paint-type {
  cursor: pointer;
  border: 2px solid #999;
}

#paint-size-wrapper .paint-type:hover {
  border-color: black;
}

#paint-size-wrapper .sizeWrapper {
  position: relative;
  margin:2em 0 2em;
}

#paint-size-wrapper #object {
  position: absolute;
  top: 50px;
  left: 330px;
  margin: auto;
  width: 256px;
  height: 256px;
  overflow: hidden;
  background: #FFF;
}

#paint-size-wrapper #background {
  /*position: absolute;*/
  /*top: 0px;*/
  /*left: 160px;*/
  position:relative;
  margin:auto;
  width: 640px;
  height: 390px;
  background: #FFF;
  font-size: 1.8em;
}

#paint-size-wrapper .sizeWrapper p {
  position: absolute;  
  top: 10px;
  left: 10px;  
  font-size: 18px;
  font-weight: bold;
}


#paint-size-wrapper p {
  margin:0;
}

#paint-size-wrapper #canvas-size {
  width:128px;
  height:128px;
  background: url("/assets/editor/pattern_light.png");
}

#paint-size-wrapper .sizeFooter {

}

#paint-size-wrapper #startPainting {
  display: none;
  margin: 0 auto;
  width: 212px;
}

.object_size_form {
  margin-top:1em;
}