@import "mixins";

#paint-wrapper {
  height: 500px;
  padding: 0px;
  margin-bottom: 20px;
  -webkit-tap-highlight-color: rgba(0,0,0,0); 
}

#paint-wrapper .tool-bar {
  background:#F5F5F5;
  @include gradient( #FFFFFF, #E6E6E6 );
  border-radius:4px;
  height: 30px;
  color: #464646;
  box-shadow: 0 1px 1px #999;
}

#paint-wrapper button {
  min-width: 30px;
  height: 30px;
  border: none;
  margin: 0;
  float: left;
  
  &:hover {
    border-bottom: 4px solid lighten($font, 20%);
  }
  
  &:active {
    border-bottom: 4px solid $font;
  }
  
  &.activeTool {
    border-bottom: 4px solid $red;
  }
  
  &.pencil { background:url('/assets/paint/pencil.png') }
  &.select { background:url('/assets/paint/select_icon.png') }
  &.eraser { background:url('/assets/paint/eraser_icon.png') }
  &.rectangle { background:url('/assets/paint/rectangle.png') }
  &.circle { background:url('/assets/paint/circle.png') }
  &.rectanglefill { background:url('/assets/paint/rectangle_filled.png') }
  &.circlefill { background:url('/assets/paint/circle_filled.png') }
  &.lineTool { background:url('/assets/paint/line.png') }
  &.loadfile { background:url('/assets/paint/file.png') }
  &.fill { background:url('/assets/paint/fill_icon.png') }
  &.clearTool { background:url('/assets/paint/clear_icon.png') }
  &.undo { background:url('/assets/paint/undo.png') }
  &.redo { background:url('/assets/paint/redo.png') }
  &.flipv { background:url('/assets/paint/flip_vertical.png') }
  &.fliph { background:url('/assets/paint/flip_horizontal.png') }
  &.rotl { background:url('/assets/paint/rotate_left.png') }
  &.rotr { background:url('/assets/paint/rotate_right.png') }
  &.pipette { background:url('/assets/paint/pipette.png') }
  &.add { background: url('/assets/paint/plus.png') }
  &.remove { background: url('/assets/paint/minus.png') }
  &.duplicate { background: url('/assets/paint/duplicate.png') }
}

#paint-wrapper #playButton {
  background: url('/assets/paint/play.png'); 
  background-repeat: no-repeat;
}

#paint-wrapper #stopButton {
  background: url('/assets/paint/stop.png');
  background-repeat: no-repeat;
  display:none;
}

#paint-wrapper .paint-zoom-in-icon {
  background-image: url('/assets/paint/zoom_in.png');
  height: 16px; width: 16px;
  background-repeat: no-repeat;
  margin-left: 6px;
}

#paint-wrapper .toggleBgButton {
  height: 26px;
  width: 26px;
  margin-top: 2px;
  float: left;
  cursor: pointer;
}

#paint-wrapper .sliderWrapper {
  float: left;
  overflow: hidden;
  margin: 0 1px;
  padding: 7px 2px 3px;

  #sizeSlider {
    margin-top: 6px;
    width: 50px;
  }

  #zoomSlider {
    margin-top: 6px;
    width: 40px;
  }

  span {
    float:left;
  }

  #sizeSlider, #sizeValue, #zoomSlider, #zoomValue {
    float:left;
    margin-left: 10px;
  }

  #sizeValue {
    width: 31px;
    text-align: right;
  }
}

#paint-wrapper #zoom-canvas-area,
#paint-wrapper #sprites-area-scroll {
  height: 430px;
  overflow: auto;
  background: #E4E4E4;
  box-shadow: inset 0px 0px 12px 0px #AAA;
}

#paint-wrapper #zoom-canvas-area {
  #paint-area {
    margin: auto;
    position: relative;
    border: 1px solid #464646;
    box-shadow: 0px 0px 12px 0px #AAA;
    cursor: crosshair;

    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

#paint-wrapper #sprites-area-scroll {
  padding: 0 10px;
  border-left: 1px solid #BBB;

  .spriteView {
    background: url("/assets/paint/pattern.png");
    margin: 10px auto;
    border: 1px solid lighten($font, 40%);
    display: block;

    &:hover {
      box-shadow: 0px 0px 12px 0px #AAA;
    }

    &.selected {
      border-color: $font;
    }
  }
}

#paint-wrapper #colorpicker {

  #colorfield {
    width: 26px;
    height: 26px;
    position: relative;
    background-color: black;
    margin-top: 2px;
  }

  #colortext {
    width : 64px;
    margin-right: 3px;
    margin-bottom: 0;
  }

  #colorselect {
    border: 1px solid black;
    cursor: crosshair;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -ms-user-select: none;
  }

  #lastColorList {
    margin: 1px 1px 0 1px;
    width: 44px;
    list-style-type:none;
  }

  #lastColorList li.lastColorItem {
    height: 12px;
    width: 12px;
    background-color: black;
    float: left;
    margin: 1px;
    cursor: pointer;
  }
}

#paint-size-wrapper {

  .paint-type {
    cursor: pointer;
    color: lighten($font, 30%);
    border: 1px solid lighten($font, 30%);
    background: #FFF;
  
    &:hover {
      box-shadow: 0px 1px 10px #CCC;
      color: lighten($font, 15%);
      border: 1px solid lighten($font, 15%);
    }
  }
  
  .type-selected {
    border-color: $font !important;
    color: $font !important;
    
    #canvas-size {
      opacity: 1 !important;
    }
  }

  .sizeWrapper {
    position: relative;
    height: 410px;

    #object {
      position: absolute;
      top: 67px;
      right: 192px;
      width: 256px;
      height: 256px;
      overflow: hidden;
      
      #canvas-size {
        width:128px;
        height:128px;
        background-image: url("/assets/paint/pattern.png");
        opacity: 0.3;
      }
    }

    #background {
      position: absolute;
      top: 0;
      right: 0;
      width: 640px;
      height: 390px;
    }

    p {
      margin: 0;
      position: absolute;
      bottom: 10px;
      left: 10px;  
      font-size: 18px;
      font-weight: bold;
    }
  }

  #startPainting {
    float: right;
    display: none;
  }

  .object_size_form {
    margin-top:1em;

    .sizeInput {
      font-size:0.8em;
      padding:1px 4px 1px 4px;
      height:16px;
      width:22px;
    }
  }
}
