@import "mixins";

@mixin big_font {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

@mixin abs {
  position: absolute;
  top: 0; left: 0;
}

@mixin bg {
  @include abs;
  width: 100%;
  height: 100%;
  background-color: rgba(68, 73, 80, 0.8);
}

#player {
  font-family: 'Helvetica Neue Bold', 'Helvetica', 'Arial', sans-serif;
  line-height: 20px;
  
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#player #playerCanvas {
  display: block;
  background: white;
}

#player .playerUI {
  display: none;
  @include abs;
  width: 640px;
  height: 390px;
  overflow: hidden;
}

/* --- Load --- */

#player .loadScreen {
  display: none;
  @include abs;
  @include big_font;
  color: $font;
  width: 640px;
  text-align: center;
  top: 205px;
}

/* --- Title --- */

#player .titleScreen {
  display: none;
  width: 100%;
  height: 100%;
}

#player .playButton {
  cursor: pointer;
  position: absolute;
  width: 64px;
  height: 65px;
  left: 288px;
  top: 132px;
  background-image: url("/assets/player/play_button.png");
  
  @include transition(opacity, 0.3s, linear);
  opacity: 0;
  
  &.active {
    opacity: 1;
  }
}

#player .titleBar {
  @include bg;
  height: auto;
  z-index: 1;
  
  @include transition(top, 0.2s, linear);
  top: -50px;
  &.active {
    top: 0px;
  }
  
  .content {
    padding: 18px 16px 10px;
    strong {
      @include big_font;
    }
    span {
      font-size: 13px;
      color: white;
    }
  }
}

#player .instructionBar {
  @include bg;
  height: 90px;
  z-index: 1;
  
  @include transition(top, 0.2s, linear);
  top: 390px;
  &.active {
    top: 300px; 
  }
  
  .content {
    padding: 14px 16px;
    h2 {
      color: white;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 0;
      line-height: 11px;
      font-size: 11px;
    }
    .instruction {
      @include big_font;
      margin: 0px 40px;
      line-height: 28px;
      text-align: center;
    }
  }
}

/* --- End --- */

#player .endScreen { 
  display: none;

  @include bg;
  height: 65px;
  top: 132px;
  
  .endText {
    padding: 24px 0 12px;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #EEE;
  }
  .winScreen {
    color: $green;
  }
  .loseScreen {
    color: $red;
  }
}

/* --- Error --- */

#player .errorScreen {
  display: none;

  h2 {
    @include abs;
    @include big_font;
    color: $font;
    width: 640px;
    text-align: center;
    top: 155px;
  }
}

/* --- Bar --- */

#player .playerBar {
  height : 30px;
  width : 639px;
  background : #CCC;
  border-radius: 0 0 4px 4px;
  @include gradient(#FEFEFE, #CECECE);
  box-shadow: 0 1px 1px #999;
}

#player .playerBar > * {
  float: left;
}

#player .playerBar:after {
  clear: both;
}

#player .playerTimeline {
  width : 486px;
  height : 8px;
  background-color: #C3C3C3;
  margin: 12px 12px 0 16px;
  border-bottom: 1px solid #F3F3F3;
}

#player .playerTimeWrapper {
  margin-top: 6px;
  border-right: 1px solid #F3F3F3;
}

#player .playerTime {
  width: 44px;
  height: 20px;
  font-family: "Arial", sans-serif;
  border-right: 1px solid #B6B6B6;
  line-height: 21px;
}

#player .playerLogo {
  width: 58px;
  height: 20px;
  background-image: url("/assets/player/logo.png");
  margin: 6px 0 0 10px;
  cursor: pointer;
}