@import "mixins";

@mixin big_font {
  font-size: 20px;
  color: white;
}

@mixin small_font {
  font-size: 13px;
  color: white;
}

@mixin abs {
  position: absolute;
  top: 0; left: 0;
}

@mixin bg {
  @include abs;
  width: 640px; height: 390px;
  background-color: $font;
}

#player {
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#player #playerCanvas {
  display: block;
  background: white;
}

#player .playerUI {
  display: none;
  @include abs;
  width: 640px;
  height: 390px;
  overflow: hidden;
}

/* --- Load --- */

#player .loadScreen {
  display: none;
  @include abs;
  @include big_font;
  color: $font;
  width: 640px;
  text-align: center;
  top: 205px;
}

/* --- Title --- */

#player .titleScreen {
  display: none;
}

#player .playButton {
  display: none;
  cursor: pointer;
  position: absolute;
  width: 64px;
  height: 65px;
  left: 288px;
  top: 142px;
  background-image: url("/assets/player/play_button.png");
  
  &:hover {
    opacity: 0.9 !important;
  }
}

#player .titleBar {
  @include abs;
  top: 390px;
  
  .titleText {
    
    @include abs;
    margin: 24px 16px;
    width: 608px;
    height: 355px;
    
    strong {
      @include big_font;
    }
    
    span {
      @include small_font;
    }

    h2 {
      @include small_font;
      letter-spacing: 2px;
      text-transform: uppercase;
      border-top: 1px solid white;
      margin-top: 20px;
    }

    .instruction {
      @include big_font;
      margin: 25px 40px 25px;
      padding: 5px 10px;
      line-height: 28px;
      text-align: center;
      border-radius: 4px;
      background: white;
      font-weight: bold;
      color: $red;
    }
    
    #counter {
      font-size: 100px;
      margin: 10px 0;
      text-align: center;
      color: white;
      line-height: 70px;
    }
    
    small {
      display: block;
      @include small_font;
      text-align: center;
    }
    
    .noticeMouse {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    
    .noticeGame {
      font-size: 16px;
    }

  }
  
  .titleBg {
    @include bg;
  }
}

/* --- End --- */

#player .endScreen { 
  display: none;
  font-size: 44px;
  font-weight: bold;
  @include abs;
  margin-top: 56px;
  width: 640px;
  text-align: center;
  @include outline(#FFF);
}

#player .winScreen {
  color: $green;
}

#player .loseScreen {
  color: $red;
}

/* --- Error --- */

#player .errorScreen {
  display: none;

  h2 {
    @include abs;
    @include big_font;
    color: $font;
    width: 640px;
    text-align: center;
    top: 155px;
  }
}

/* --- Bar --- */

#player .playerBar {
  height : 30px;
  width : 639px;
  background : #CCC;
  border-radius: 0 0 4px 4px;
  @include gradient(#FEFEFE, #CECECE);
  box-shadow: 0 1px 1px #999;
}

#player .playerBar > * {
  float: left;
}

#player .playerBar:after {
  clear: both;
}

#player .playerTimeline {
  width : 486px;
  height : 8px;
  background-color: #C3C3C3;
  margin: 12px 12px 0 16px;
  border-bottom: 1px solid #F3F3F3;
}

#player .playerTimeWrapper {
  margin-top: 6px;
  border-right: 1px solid #F3F3F3;
}

#player .playerTime {
  width: 44px;
  height: 20px;
  font-family: "Arial", sans-serif;
  border-right: 1px solid #B6B6B6;
  line-height: 21px;
}

#player .playerLogo {
  width: 58px;
  height: 20px;
  background-image: url("/assets/player/logo.png");
  margin: 6px 0 0 10px;
  cursor: pointer;
}