.row

  %div{:class => "span12", :style => "margin-bottom:2em"}

    = head_line("paint", "tour")

    %p
      Every game needs graphics. And to give you everything you need for your awesome games, we also created a paint tool!

.row

  %div{:class => "span3 guide"}

    This is how it works:

    %ol{:id => "guideSteps"}
      %li An overview
      %li Choose the right type
      %li Know your tools
      %li Animate your objects
      %li Draw a background
  
  %div{:class => "span7"}

    %div{:id => "guide-slide-container"}

      %div{:class => "slide-wrapper"}

        %div{:class => "slide"}
          =image_tag "guides/paint_overview.png"
          %div{:class => "foot-info"}
            Before creating a game you can draw your game objects ... like batman

        %div{:class => "slide"}
          =image_tag "guides/paint_size.png"
          %div{:class => "foot-info"}
            First you have to choose between an object or background type

        %div{:class => "slide"}
          =image_tag "guides/paint_tools.png"
          %div{:class => "foot-info"}
            Use the pencil, line or circle tool to draw your graphics

        %div{:class => "slide"}
          =image_tag "guides/paint_sprite.png"
          %div{:class => "foot-info"}
            Your game object can have several states (Sprites)

        %div{:class => "slide"}
          =image_tag "guides/paint_background.png"
          %div{:class => "foot-info"}
            And this is how it looks like drawing a background

%P{ :style => "margin-top:1em;"}
  Just 
  =link_to "login with your facebook account", user_omniauth_authorize_path(:facebook)
  or 
  = link_to 'sign up', new_user_session_path
  to create your first game!