%div{:class => "row"}

  %div{:class => "span11", :style => "margin-bottom:2em"}  
    .container
      %div{:class => "note"}
        %b
          Note: 
        You have to be logged in to use the paint tool.

      This is the place where you can bring your paintings to life and build your own microgames! Just Login with your facebook account or sign up to create your first game!

%div{:class => "row container"}
  .banner
    =image_tag "banner_editor.png"
    how it works
  =image_tag "slider_left.png", :class => "slider_left"
  %div{:class => "span3 guide"}
    This is how it works:
    %ol{:id => "guideSteps"}
      %li Pencil and shape tools
      %li Load an image from your harddrive
      %li Add sprites
      %li Animate your graphics
      %li Share your graphics
  
  %div{:class => "span7"}
    %div{:id => "guide-slide-container"}

      %div{:class => "slide-wrapper"}
        %div{:class => "slide"}
          =image_tag "slide1.png"
          %div{:class => "foot-info"}
            Use different tools to draw objects

        %div{:class => "slide"}
          =image_tag "slide2.png"
          %div{:class => "foot-info"}
            You can also load an image from your harddrive and paint on them

        %div{:class => "slide"}
          =image_tag "slide3.png"
          %div{:class => "foot-info"}
            Add more sprites to your object

        %div{:class => "slide"}
          =image_tag "slide4.png"
          %div{:class => "foot-info"}
            See the different SPrites in Action
            
        %div{:class => "slide"}
          =image_tag "slide4.png"
          %div{:class => "foot-info"}
            Before you save, play your game and check it
  =image_tag "slider_right.png", :class => "slider_right"
  .clear
.container
  .banner
    Example Graphics
    =image_tag "banner_editor.png"