%div{:class => "row"}

  %div{:class => "span8", :style => "margin-bottom:2em"}  

    %div{:class => "alert alert-info"}
      Note: You have to be logged in to use the paint tool

    What would be a game without graphics? Yep - boring! And because you don't want to make any boring games
    you can draw graphics for your game with the paint tool!

  %div{:class => "span8"}
    %div{:id => "guide-slide-container"}
  
      %div{:class => "slide-wrapper"}
        %div{:class => "slide"}
          Slide 1
          %div{:class => "foot-info"}
            Use different tools to draw your objects

        %div{:class => "slide"}
          Slide 2
          %div{:class => "foot-info"}
            You can also load images from your hard drive and paint on them

        %div{:class => "slide"}
          Slide 3
          %div{:class => "foot-info"}
            Add more sprites to your object

        %div{:class => "slide"}
          Slide 4
          %div{:class => "foot-info"}
            See the different sprites in action

        %div{:class => "slide"}
          Slide 5
          %div{:class => "foot-info"}
            Share your graphic, so that others can use it

  %div{:class => "span4", :id => "guideSteps"}
    This is how it works:
    %ol
      %li Pencil and shape tools
      %li Load an image from your hard drive
      %li Add sprites
      %li Animate your graphics
      %li Share your graphics

%div{:class => "row", :style => "margin-top:2em"}
  %div{:class => "span12"}
    %h3 Example graphics:
    See what others have painted with the paint tool

:javascript
  $(document).ready(function(){
    
    var slider = new SliderDiv({ containerSelector : '#guide-slide-container'});
    slider.autoPlay(5000);
    
    $('#guideSteps').find('li').click(function(){
      var pos = $(this).index();
      slider.moveTo(pos).stopPlay();
    });

  });