%div{:class => "row"}

  %div{:class => "span8", :style => "margin-bottom:2em"}  

    %div{:class => "alert alert-info"}
      Note: You have to be logged in to use the paint tool

    What would be a game without graphics? Yep - boring! And because you don't want to make any boring games
    you can draw graphics for your game with the paint tool!

  %div{:class => "span8"}
    %div{:style => "height:300px;background:#FFF;position:relative;width:600px"}
      %div{:style => "background:#222;color:#FFF;position:absolute;bottom:0;left:0;margin:0;opacity:0.8;width:100%;"}      
        %div{:style => "padding:4px;font-size:0.8em;"}
          You can draw by pencil or select a shape tool.

  %div{:class => "span4"}
    This is how it works:
    %ol
      %li Pencil and shape tools
      %li Load an image from your hard drive
      %li Add sprites
      %li Animate your graphics
      %li Share your graphics

%div{:class => "row", :style => "margin-top:2em"}
  %div{:class => "span12"}
    %h3 Example graphics:
    See what others have painted with the paint tool