.row

  %div{:class => "span12", :style => "margin-bottom:2em"}

    = head_line("paint", "tour")

    %p
      Every game needs graphics. And to give you
      %br
      everything you need for your awesome game,
      %br
      we also created a paint tool!

.row

  %div{:class => "span4 guide"}

    %h3
      This is how you paint ...

    %ol{:id => "guideSteps"}
      %li an overview
      %li choose the right type
      %li know your tools
      %li animate your objects
      %li draw a background


    %div{:class => "signup-info well"}
      Just
      =link_to "login with your facebook account", user_omniauth_authorize_path(:facebook)
      or 
      = link_to 'sign up', new_user_session_path
      to create your first game!
  
  %div{:class => "span7"}

    %div{:id => "guide-slide-container"}

      %div{:class => "slide-wrapper"}

        %div{:class => "slide"}
          =image_tag "guides/paint_overview.png"
          %div{:class => "foot-info"}
            before creating a game you can draw your game objects ... like batman

        %div{:class => "slide"}
          =image_tag "guides/paint_size.png"
          %div{:class => "foot-info"}
            first you have to choose between an object or background type

        %div{:class => "slide"}
          =image_tag "guides/paint_tools.png"
          %div{:class => "foot-info"}
            use the pencil, line or circle tool to draw your graphics

        %div{:class => "slide"}
          =image_tag "guides/paint_sprite.png"
          %div{:class => "foot-info"}
            your game object can have several states (Sprites)

        %div{:class => "slide"}
          =image_tag "guides/paint_background.png"
          %div{:class => "foot-info"}
            and this is how it looks like drawing a background

