:plain
  $('body').append("#{escape_javascript(render :partial => 'layouts/flash', :locals => {:flash => flash})}")
  Notifier.notify();
  $('#user_graphics').html("#{escape_javascript(render :partial => 'users/graphics', :locals => {:user => @user, :graphics => @graphics})}");