%div{:id => "feedback", :class => "well"}
  = form_tag("/support/feedback", :method => "post", :remote => true) do
    %h3{:class => "page-header"}
      Help us to improve Playtin!
    %div{:id => "feedbackContent", :class => "control-group"}
      %label
        Subject:
      =text_field_tag(:subject, "", :class => "span6")
      %label
        Your comment:
      =text_area_tag(:body, "", :size => "120x2", :class => "span6")
      %br
      =submit_tag 'Send feedback', :class => "btn btn-success sendFeedback"
        
      %button{:class => "btn closeFeedback"}
        Cancel

%div{:id=>"feedbackSideButton", :class=>"showFeedback"}
  F<br>e<br>e<br>d<br>b<br>a<br>c<br>k