%div{:id => "feedback", :class => "well"}
  = form_tag("/support/feedback", :method => "post", :remote => true) do
    %h3{:class => "page-header"}
      Help us to improve Playtin!
    %div{:id => "feedbackContent", :class => "control-group"}
      %label
        subject
      =text_field_tag(:subject, "", :class => "span6")
      %label
        your comment
      =text_area_tag(:body, "", :size => "120x2", :class => "span6")
      %br
      =submit_tag 'send feedback', :class => "btn btn-success sendFeedback"
        
      %span{:class => "btn closeFeedback"}
        cancel

  %div{:id=>"feedbackErrorMessage", :class=>"alert alert-danger"}
    Error - please fill out all text fields!

%div{:id=>"feedbackSideButton", :class=>"showFeedback"}