=link_to 'Imprint', imprint_path
%div{ :class => "row", :id => "header"}
  %div{:class => "logo span3", :id =>"logo"}
    %h1
      Playtin
  %ul{:id => "menu", :class => "nav nav-pills span9"}
    %li{:class => "home span2", :id =>"home"}
      =link_to 'Home', root_path
    %li{:class => "gallery span2", :id =>"play"}
      =link_to "Games", gallery_path
    %li{:class => "editor span2", :id =>"build"}
      =link_to "Build", pages_editor_path
    %li{:class => "profile span2", :id =>"help"}
      -if user_signed_in?      
        =link_to "Profile", user_path(current_user.id)
      -else
        = link_to 'Login', new_user_session_path      


  =if false
    .flash_message
      =flash[:notice]
      =flash[:alert]
      =flash[:error]

%div{:id => "feedback", :class => "well"}
  %h3
    Help us to improve Playtin!
  %div{:id => "feedbackContent", :class => "control-group"}
    %label
      Your comment:
    %textarea{:cols=>"60", :rows=>"4", :class => "span6", :id => "feedbackBody"}
    %br
    %button{:class => "btn btn-success sendFeedback"}
      Send feedback
    %button{:class => "btn closeFeedback"}
      Cancel

%div{:id=>"feedbackSideButton", :class=>"showFeedback"}
  Feedback
