%div{ :class => "row", :id => "header"}
  
  .span3
    
    %h1
      Play
      %span{ :class => "label label-warning titleSmall"}
        tin
  
  .span4

    = form_tag search_games_path, :method => 'get', :class=>"form-inline navbar-search pull-left" do
      = text_field_tag "query", "", :class => "searchbox", :placeholder => "Search game"
      = submit_tag "", :class => "btn icon-search"


  .span4
  
    %ul{:id => "menu", :class => "nav nav-pills"}
      %li{:class => "gallery", :id =>"play"}
        =link_to "Play", root_path

      %li{:class => "editor", :id =>"build"}      
        =link_to "Build", build_path

      %li{:class => "paint", :id =>"paint"}
        =link_to "Paint", new_graphic_path

  .span1

    %div{ :class => "btn-group"}

      %button{ :class => "btn"}
        L
      %button{ :class => "btn dropdown-toggle", "data-toggle" => "dropdown"}
        %span{ :class => "caret"}

      %ul{:class => "dropdown-menu"}

        %li{:class => ""}
          =link_to "Edit profile", root_path

        %li{:class => ""}      
          =link_to "Support", root_path

        %li{:class => ""}
          =link_to "Logout", root_path

        
%div{:id => 'flash-messages', :class => "row"}
  %ul
    %li{:id => "flash-template",:class => "alert"}
      %span{:class=>"msg"}
      = link_to '&times;'.html_safe, '#', :class => ['close', 'closeFlash']
  =render :partial => 'layouts/flash', :locals => {:flash => flash}

=render :partial => "layouts/feedback"