=link_to 'Imprint', imprint_path
=link_to('Logout', destroy_user_session_path, :method => :delete)
%div{ :class => "row", :id => "header"}
  %div{:class => "logo span3", :id =>"logo"}
    %h1
      Playtin
  %ul{:id => "menu", :class => "nav nav-pills span9"}
    %li{:class => "home span2", :id =>"home"}
      =link_to 'Home', root_path
    %li{:class => "gallery span2", :id =>"play"}
      =link_to "Games", gallery_path
    %li{:class => "editor span2", :id =>"build"}
      =link_to "Create", build_path
    %li{:class => "profile span2", :id =>"help"}
      -if user_signed_in?      
        =link_to "Profile", user_path(current_user.id)
      -else
        = link_to 'Login', new_user_session_path      

  %div{:id => 'flash-messages'}

    %ul
      %li{:id => "flash-template",:class => "alert"} 
      - flash.each do |key, value|
        :javascript          
          Notifier.add("#{value}", "#{key}")
  
  =render :partial => "layouts/feedback"
