!!! 5
%html
	%head
		%title Microbuilder
		=stylesheet_link_tag    "application", :media => "all"
		=javascript_include_tag "application"
		=#stylesheet_link_tag "ui-lightness/jquery-ui-1.8.17.custom"
		=csrf_meta_tags
	%body{:onorientationchange => "orientationChanged()"}
		=render :partial => "layouts/header"
		=yield
		%br
		=render :partial => "layouts/footer"
