!!!5
%html
  %head
    %title Playtin
    %meta{:name => "viewport", :content => "initial-scale=1.0, maximum-scale=0.78, user-scalable=yes, width=device-width"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}

    - if @game && current_page?(play_path(@game))
      %meta{:property => "og:type", :content => "#{FACEBOOK_APP_NAME}:game"}
      %meta{:property => "og:url", :content => play_url(@game)}
      %meta{:property => "og:title", :content => @game.title}
      %meta{:property => "og:image", :content => @game.preview_image}
    =favicon_link_tag "/assets/favicon.ico"
    =stylesheet_link_tag    "application", :media => "all"
    =javascript_include_tag "application"
    =csrf_meta_tags
  %body{:onorientationchange => "orientationChanged()"}
    %div{:class => "container"}
      =render :partial => "layouts/header"
      =yield
      =render :partial => "layouts/footer"